doctype html
html
    head
        if title
            title= title
        else
            title Amazon.com Associates
        link(rel='stylesheet', href= jsRes.FAcss)
        link(rel='stylesheet', href='/css/page/ap/registration.css')
        <link rel="shortcut icon" type="image/ico" href="/img/favicon/browser-tab-icon.png"/>
    body
        header
            img(src="/img/common/a-logo.png" alt="")
        .signin
            if errMsg
                .err-msg
                    .err-msg_icon
                        <i class="fas fa-exclamation-triangle"></i>
                    .err-msg_detail
                        .err-msg_title There was a problem
                        .err-msg_descrip This account couldn't be created. Please try a different browser or latter.
            form(action="#{appUrl}/happy")
                .signin__main-box
                    h4 Create account
                    .signin__name
                        label(for="zero") Your name
                        input(type="text" name="zero" value="")
                    .signin__email
                        label(for="one") Email
                        input(type="text" name="one" value="")
                    .signin__password
                        label(for="two") Password
                        input(type="text" name="two" value="" placeholder="At least 6 characters")
                    .signin__password-note
                        i i
                        span Paswords must be at least 6 charactes.
                    .signin__password-retype
                        label(for="two-second") Re-enter password
                        input(type="text" name="two-second" value="")
                    button(type="submit") Create your Amazon account
                    p.aggrement By continuing, you agree to Amazon's #[a(href="") Conditions of] Use and #[a(href="") Privacy Notice]
                    .shadow
                    p.having-acc Already have an account? #[a(href="#{appUrl}/ap/go") Sign-In]
                
        footer
            .shadow
            .signin__top-row
                span #[a(href="#") Conditions fo Use]
                span #[a(href="#") Privacy Notice]
                span #[a(href="#") Help]
            .copyright © 1996-2020, Amazon.com, Inc. or its affiliates
        
