// Header section starts
header
    #top-nav
        .logo.left
            a(href="#") #[img(src="/img/home-before/logo.jpg" alt="")]
        .right
            .login
                a(href="#") Login
            .language.dropdown-box
                label Language: #[span English - EN] #[i.fa.fa-caret-down]
                .dropdown-list
            locale.dropdown-box
                label Locale: #[img(src="/img/home-before/US-flag.gif" alt="")] #[span United States] #[i.fa.fa-caret-down]
                .dropdown-list
    .not-associate-acc-msg The e-mail/mobile number you are using is not connected to an Associates account. If the account was previously connected, please check your email inbox as the account may have been closed. #[a(href="#") Contact us] with any questions.
    #main-nav
// Header section ends
