extends ../../layout/main/main


block pageRes
    link(href="/css/lib/lib.css" rel="stylesheet" type="text/css")
    link(href="/css/page/job/job-s.css" rel="stylesheet" type="text/css")

block content
    include section-1

block pageResBottom
    // resources here
        
