section#help-nd
    .hn-page.hn-page-wrapper
      // / creates the action notification items
      .hn-card
        .hn-card-content.hn-help-card
          .hn-help-primary-topics
            // wlact
            .hn-cms-content
              .hn-cms-cols-layout
                .hn-cms-col.hn-cms-col-width-100
                  .hn-help-primary-title
                    | What can we help you with?
                .hn-cms-col.hn-cms-col-width-33.hn-help-primary-topic
                  a(href='#')
                    span.hn-help-primary-topic-img
                      img(src='/img/non-loggable/help-node/help-topic-fee._V285427020_.png' border='0' align='left' alt='')
                    span.hn-help-primary-topic-title Learn About Commission Income
                .hn-cms-col.hn-cms-col-width-33.hn-help-primary-topic
                  a(href='#')
                    span.hn-help-primary-topic-img
                      img(src='/img/non-loggable/help-node/help-topic-operating-agreement.png' border='0' align='left' alt='')
                    span.hn-help-primary-topic-title Operating Agreement
                .hn-cms-col.hn-cms-col-width-33.hn-help-primary-topic
                  a(href='#')
                    span.hn-help-primary-topic-img
                      img(src='/img/non-loggable/help-node/help-topic-setting._V285427020_.png' border='0' align='left' alt='')
                    span.hn-help-primary-topic-title Manage Your Payment Settings
                .hn-cms-col.hn-cms-col-width-33.hn-help-primary-topic
                  a(href='#')
                    span.hn-help-primary-topic-img
                      img(src='/img/non-loggable/help-node/help-topic-reporting._V285427020_.png' border='0' align='left' alt='')
                    span.hn-help-primary-topic-title Learn About Our Reporting
                .hn-cms-col.hn-cms-col-width-33.hn-help-primary-topic
                  a(href='#' target='_blank')
                    span.hn-help-primary-topic-img
                      img(src='/img/non-loggable/help-node/help-topic-tool._V285427020_.png' border='0' align='left' alt='')
                    span.hn-help-primary-topic-title Discover Link Building Tools
                .hn-cms-col.hn-cms-col-width-33.hn-help-primary-topic
                  a(href='#')
                    span.hn-help-primary-topic-img
                      img(src='/img/non-loggable/help-node/help-topic-mobile.png' border='0' align='left' alt='')
                    span.hn-help-primary-topic-title Mobile
      .hn-row.hn-spacing-none.hn-ws-row
        .hn-column.hn-span4.hn-spacing-none.hn-ws-span4.hn-ws-spacing-none
          .hn-card
            .hn-card-content.hn-help-card
              .hn-help-topics
                  ul#hn-help-primary-topics-list.hn-unordered-list.hn-vertical
                    li.hn-help-selected
                      span.hn-list-item
                        a(href='#') Getting Started
                    li
                      span.hn-list-item
                        a(href='#') About your account
                    li
                      span.hn-list-item
                        a(href='#') About commissions and Payments
                    li
                      span.hn-list-item
                        a(href='#') About Links
                    li
                      span.hn-list-item
                        a(href='#') Tools and Features
                    li
                      span.hn-list-item
                        a(href='#') About the Product Advertising API
                    li
                      span.hn-list-item
                        a(href='#') About Mobile Apps
                    li
                      span.hn-list-item
                        a(href='#') About Reporting
                    li
                      span.hn-list-item
                        a(href='#') Amazon Influencer Program
                    li
                      span.hn-list-item
                        a(href='#') Tips
                    li
                      span.hn-list-item
                        a(href='#') Operating Agreement Support
                    li
                      span.hn-list-item
                        a(href='#') Archives
                    li
                      span.hn-list-item
                        a(href='#') Glossary
        #hn-help-secondary-topic-list
          #hn-help-category-GXCCW8G3Q5EK6KTN.hn-column.hn-span8.hn-spacing-none.hn-ws-span8.hn-ws-spacing-none.hn-help-hover-box-content.active.hn-span-last.hn-ws-span-last
            .hn-card
              .hn-card-content.hn-help-card
                .hn-help-topic-detail
                  .hn-help-topic-detail-title
                    h2 Getting Started
                  .hn-help-topics.hn-help-topics-secondary
                    ul
                      li Program Overview
                        ul
                          li
                            a(href='#') Where is the commission Schedule?
                          li
                            a(href='#') Where is the Operating Agreement? 
                          li
                            a(href='#') Do you provide samples of products I might want to feature?
                          li
                            a(href='#') Can I sign up my non-profit for the Associates Program?
                          li
                            a(href='#') Can I earn advertising fees promoting Amazon Trade-in?
                          li
                            a(href='#') I received a warning about compliance. What should I include in my response?
                          li
                            a(href='#') My account was closed. Am I able to appeal the closure?
                          li
                            a(href='#') What are Products Recommendations
                          li
                            a(href='#') Do you require exclusivity to participate?
                      li Sign Up
                        ul
                          li
                            a(href='#') Application Review Process
                          li
                            a(href='#') Charities
                          li
                            a(href='#') How do I complete the Tax Interview?
                      li Appropriate Conduct
                        ul
                          li
                            a(href='#') What is Amazon Associates Anti-Counterfeit Policy?
                          li
                            a(href='#') Can I use pop-ups to advertise Amazon products?
                          li
                            a(href='#') What is Amazon.ca's policy for Associates placing orders for themselves?
                          li
                            a(href='#') What if I see another website that is violating the Associates Program policies?
                          li
                            a(href='#') Are there any restrictions regarding my Web site's URL?
                          li
                            a(href='#') Can I automatically redirect a visitor from my site to Amazon.com without the visitor first clicking on a link on my site?
                          li
                            a(href='#') Why do I have to identify myself as an Associate? How should I do this on social media?
                      li Other
                        ul
                          li
                            a(href='#') International Affiliate Programs
                          li
                            a(href='#') Associates Central is now offered in multiple languages
