block seven-day-table
    table.seven-day-grid
        tr
            th #[span Link Group] #[i.fa.fa-caret-down]
            th #[span Clicks] #[i.fa.fa-caret-down]
            th #[span Conversion] #[i.fa.fa-caret-down]
            th #[span Items Ordered] #[i.fa.fa-caret-down]
            th #[span Items Shipped] #[i.fa.fa-caret-down]
            th #[span Earnings] #[i.fa.fa-caret-down]
        tr
            td <a href="#">Others</a>
            td 90
            td 2.99%
            td 30
            td 100
            td $723.64
        tr
            td <a href="#">Others</a>
            td 90
            td 2.99%
            td 30
            td 100
            td $723.64
        tr
            td <a href="#">PA-API</a>
            td 1,299
            td 7.93%
            td 91
            td 101
            td $223.92
        tr
            td <a href="#">PA-API</a>
            td 1,299
            td 7.93%
            td 91
            td 101
            td $223.92
        
        tr
            td <a href="#">Product Linds</a>
            td 1,199
            td 9.93%
            td 110
            td 101
            td $22.92
        tr
            td <a href="#">Text Only, Image Only, Text and Image Links</a>
            td 1,199
            td 9.93%
            td 110
            td 101
            td $22.92
        tr
            td <a href="#">Native Shopping Ads</a>
            td 129
            td 10.85%
            td 17
            td 10
            td $23,923.19
        tr
            td <a href="#">Recommendations</a>
            td 129
            td 10.85%
            td 17
            td 10
            td $23,923.19
            
        