// footer section starts

hr.footer-nav-separator
footer
    ul
        li #[a(href="#" alt="") Operating Agreement]
        li #[a(href="#" alt="") Condition of Use]
        li #[a(href="#" alt="") Contact Us]
        li @ 1996-2020, Amazon.com, Icc
// footer section ends