// Header section starts
header
    #top-nav
        .row.justify-content-end.pr-0.pl-0

            .logo-col.col-auto.d-inline-flex.align-items-center.mr-auto
                a.logo(href="#") #[img(src="/img/home/AmazLogo.svg" alt="")]
                
            .signin-col.col-auto.d-inline-flex.align-items-center
                span.drop-btn #[a(href="#{appUrl}/ap/go") Sign in]
            
            .lang-col.col-auto.d-inline-flex.align-items-center
                .lang-dropdown.position-relative
                    span.lang-drop-btn
                        span English - EN
                        i.fa.fa-chevron-down(aria-hidden="true")
                    .lang-dropdown-menu.dropdown-menu-custom.arrow.page-card-padded
                        ul
                            li #[a.selected(href="#") #[span.circle-out #[span.circle-fill]] English - EN]
                            .separator
                            li #[a(href="#") #[span.circle-out #[span.circle-fill]] Español - ES]
                        a.learn-more(href="#") Learn more #[i.fa.fa-chevron-right]
                            
            .sate-col.col-auto.d-inline-flex.align-items-center.pr-0
                .state-dropdown.position-relative
                    span.drop-btn
                        img(src="/img/home/US-flag.gif" alt="")
                        span United States
                        i.fa.fa-chevron-down(aria-hidden="true")
                    .state-dropdown-menu.dropdown-menu-custom.arrow.page-card-padded
                        ul
                            li #[a.selected(href="#") #[span.circle-out #[span.circle-fill]] United Statesn]
                            .separator
                            li #[a(href="#") #[span.circle-out #[span.circle-fill]] United Kingdom]
                            li #[a(href="#") #[span.circle-out #[span.circle-fill]] Deutschland]
                            li #[a(href="#") #[span.circle-out #[span.circle-fill]] France]
                            li #[a(href="#") #[span.circle-out #[span.circle-fill]] Japan]
                            li #[a(href="#") #[span.circle-out #[span.circle-fill]] Canada]
                            li #[a(href="#") #[span.circle-out #[span.circle-fill]] China]
                            li #[a(href="#") #[span.circle-out #[span.circle-fill]] Italia]
                            li #[a(href="#") #[span.circle-out #[span.circle-fill]] España]
                            li #[a(href="#") #[span.circle-out #[span.circle-fill]] India]
                            li #[a(href="#") #[span.circle-out #[span.circle-fill]] Brazil]
                            li #[a(href="#") #[span.circle-out #[span.circle-fill]] Mexico]
                            li #[a(href="#") #[span.circle-out #[span.circle-fill]] Australia]
                            li #[a(href="#") #[span.circle-out #[span.circle-fill]] United Arab Emirates]
                            li #[a(href="#") #[span.circle-out #[span.circle-fill]] Singapore]
                            li #[a(href="#") #[span.circle-out #[span.circle-fill]] Netherlands]
                            li #[a(href="#") #[span.circle-out #[span.circle-fill]] Saudi Arabia]
            
                    
// Header section ends
hr.top-nav-separator



