<!-- carousel-top section start -->
section#caro.page-card
    .slider
        span#slide-1
        span#slide-2
        span#slide-3
        .image-container
            .slide
                img(src="/img/home/caro1.png" width="1070" height="258")
            .slide
                img(src="/img/home/caro2.jpg" width="1070" height="258")
            .slide
                img(src="/img/home/caro3.png" width="1070" height="258")
    .angle-left
    .angle-right
<!-- carousel-top section end -->



    
            
