
section.carousel-products.page-card-padded
    .title #[span.recommend Recommended for You] #[span.new (Whats this)]
    .imgs
        .slide
            img(src="/img/home/1.jpg" alt="" width="160px" height="200px")
            .info
                .title A Product Name
                .provider The Company
                .price $100
            .get-link Get Link
        .slide
            img(src="/img/home/2.jpg" alt="" width="160px" height="200px")
            .info
                .title A Product Name
                .provider The Company
                .price $100
            .get-link Get Link
        .slide
            img(src="/img/home/3.jpg" alt="" width="160px" height="200px")
            .info
                .title A Product Name
                .provider The Company
                .price $100
            .get-link Get Link
        .slide
            img(src="/img/home/4.jpg" alt="" width="160px" height="200px")
            .info
                .title A Product Name
                .provider The Company
                .price $100
            .get-link Get Link
        .slide
            img(src="/img/home/5.jpg" alt="" width="160px" height="200px")
            .info
                .title A Product Name
                .provider The Company
                .price $100
            .get-link Get Link
        .slide
            img(src="/img/home/6.jpg" alt="" width="160px" height="200px")
            .info
                .title A Product Name
                .provider The Company
                .price $100
            .get-link Get Link
        .slide
            img(src="/img/home/7.jpg" alt="" width="160px" height="200px")
            .info
                .title A Product Name
                .provider The Company
                .price $100
            .get-link Get Link
        .slide
            img(src="/img/home/8.jpg" alt="" width="160px" height="200px")
            .info
                .title A Product Name
                .provider The Company
                .price $100
            .get-link Get Link
        .slide
            img(src="/img/home/9.jpg" alt="" width="160px" height="200px")
            .info
                .title A Product Name
                .provider The Company
                .price $100
            .get-link Get Link
        .slide
            img(src="/img/home/10.jpg" alt="" width="160px" height="200px")
            .info
                .title A Product Name
                .provider The Company
                .price $100
            .get-link Get Link
        .slide
            img(src="/img/home/11.jpg" alt="" width="160px" height="200px")
            .info
                .title A Product Name
                .provider The Company
                .price $100
            .get-link Get Link
        .slide
            img(src="/img/home/12.jpg" alt="" width="160px" height="200px")
            .info
                .title A Product Name
                .provider The Company
                .price $100
            .get-link Get Link
        .slide
            img(src="/img/home/13.jpg" alt="" width="160px" height="200px")
            .info
                .title A Product Name
                .provider The Company
                .price $100
            .get-link Get Link
        .slide
            img(src="/img/home/14.jpg" alt="" width="160px" height="200px")
            .info
                .title A Product Name
                .provider The Company
                .price $100
            .get-link Get Link
        .slide
            img(src="/img/home/15.jpg" alt="" width="160px" height="200px")
            .info
                .title A Product Name
                .provider The Company
                .price $100
            .get-link Get Link
        .slide
            img(src="/img/home/1.jpg" alt="" width="160px" height="200px")
            .info
                .title A Product Name
                .provider The Company
                .price $100
            .get-link Get Link
        .slide
            img(src="/img/home/2.jpg" alt="" width="160px" height="200px")
            .info
                .title A Product Name
                .provider The Company
                .price $100
            .get-link Get Link
        .slide
            img(src="/img/home/3.jpg" alt="" width="160px" height="200px")
            .info
                .title A Product Name
                .provider The Company
                .price $100
            .get-link Get Link
        .slide
            img(src="/img/home/4.jpg" alt="" width="160px" height="200px")
            .info
                .title A Product Name
                .provider The Company
                .price $100
            .get-link Get Link
        .slide
            img(src="/img/home/5.jpg" alt="" width="160px" height="200px")
            .info
                .title A Product Name
                .provider The Company
                .price $100
            .get-link Get Link
        .slide
            img(src="/img/home/6.jpg" alt="" width="160px" height="200px")
            .info
                .title A Product Name
                .provider The Company
                .price $100
            .get-link Get Link
        .slide
            img(src="/img/home/7.jpg" alt="" width="160px" height="200px")
            .info
                .title A Product Name
                .provider The Company
                .price $100
            .get-link Get Link
        .slide
            img(src="/img/home/8.jpg" alt="" width="160px" height="200px")
            .info
                .title A Product Name
                .provider The Company
                .price $100
            .get-link Get Link
        .slide
            img(src="/img/home/9.jpg" alt="" width="160px" height="200px")
            .info
                .title A Product Name
                .provider The Company
                .price $100
            .get-link Get Link
        .slide
            img(src="/img/home/10.jpg" alt="" width="160px" height="200px")
            .info
                .title A Product Name
                .provider The Company
                .price $100
            .get-link Get Link
        .slide
            img(src="/img/home/11.jpg" alt="" width="160px" height="200px")
            .info
                .title A Product Name
                .provider The Company
                .price $100
            .get-link Get Link
        .slide
            img(src="/img/home/12.jpg" alt="" width="160px" height="200px")
            .info
                .title A Product Name
                .provider The Company
                .price $100
            .get-link Get Link
        .slide
            img(src="/img/home/13.jpg" alt="" width="160px" height="200px")
            .info
                .title A Product Name
                .provider The Company
                .price $100
            .get-link Get Link
        .slide
            img(src="/img/home/14.jpg" alt="" width="160px" height="200px")
            .info
                .title A Product Name
                .provider The Company
                .price $100
            .get-link Get Link
        .slide
            img(src="/img/home/15.jpg" alt="" width="160px" height="200px")
            .info
                .title A Product Name
                .provider The Company
                .price $100
            .get-link Get Link
        .slide
            img(src="/img/home/1.jpg" alt="" width="160px" height="200px")
            .info
                .title A Product Name
                .provider The Company
                .price $100
            .get-link Get Link
        .slide
            img(src="/img/home/2.jpg" alt="" width="160px" height="200px")
            .info
                .title A Product Name
                .provider The Company
                .price $100
            .get-link Get Link
        .slide
            img(src="/img/home/3.jpg" alt="" width="160px" height="200px")
            .info
                .title A Product Name
                .provider The Company
                .price $100
            .get-link Get Link
        .slide
            img(src="/img/home/4.jpg" alt="" width="160px" height="200px")
            .info
                .title A Product Name
                .provider The Company
                .price $100
            .get-link Get Link
        .slide
            img(src="/img/home/5.jpg" alt="" width="160px" height="200px")
            .info
                .title A Product Name
                .provider The Company
                .price $100
            .get-link Get Link
        .slide
            img(src="/img/home/6.jpg" alt="" width="160px" height="200px")
            .info
                .title A Product Name
                .provider The Company
                .price $100
            .get-link Get Link
        .slide
            img(src="/img/home/7.jpg" alt="" width="160px" height="200px")
            .info
                .title A Product Name
                .provider The Company
                .price $100
            .get-link Get Link
        .slide
            img(src="/img/home/8.jpg" alt="" width="160px" height="200px")
            .info
                .title A Product Name
                .provider The Company
                .price $100
            .get-link Get Link
        .slide
            img(src="/img/home/9.jpg" alt="" width="160px" height="200px")
            .info
                .title A Product Name
                .provider The Company
                .price $100
            .get-link Get Link
        .slide
            img(src="/img/home/10.jpg" alt="" width="160px" height="200px")
            .info
                .title A Product Name
                .provider The Company
                .price $100
            .get-link Get Link
        .slide
            img(src="/img/home/11.jpg" alt="" width="160px" height="200px")
            .info
                .title A Product Name
                .provider The Company
                .price $100
            .get-link Get Link
        .slide
            img(src="/img/home/12.jpg" alt="" width="160px" height="200px")
            .info
                .title A Product Name
                .provider The Company
                .price $100
            .get-link Get Link
        .slide
            img(src="/img/home/13.jpg" alt="" width="160px" height="200px")
            .info
                .title A Product Name
                .provider The Company
                .price $100
            .get-link Get Link
        .slide
            img(src="/img/home/14.jpg" alt="" width="160px" height="200px")
            .info
                .title A Product Name
                .provider The Company
                .price $100
            .get-link Get Link
        .slide
            img(src="/img/home/15.jpg" alt="" width="160px" height="200px")
            .info
                .title A Product Name
                .provider The Company
                .price $100
            .get-link Get Link
    
    .controls
        .left-control#lc
            i.fa.fa-chevron-left
        .right-control#rc
            i.fa.fa-chevron-right
            

    
            