body, html {
  box-sizing: border-box;
  background: #f3f3f3 none repeat scroll;
  overflow-x: auto;
  min-width: 1000px;
  margin-top: 1px;
  padding: 0;
  font-size: 13px;
  line-height: 19px; }

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  outline: none;
  border: none;
  padding: 0; }

ul {
  margin: 0;
  padding: 0; }

ul li {
  margin: 0;
  padding: 0;
  list-style-type: none; }

p {
  margin-bottom: 0;
  line-height: 1.75;
  font-size: 16px;
  color: #333333;
  font-weight: 400; }

a {
  color: #0066c0;
  cursor: pointer;
  text-decoration: none; }

.glasspane {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 11;
  display: none; }

.chart-loader {
  width: 200px;
  height: 45px;
  border-radius: 5px;
  background: #fff;
  line-height: 45px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #e3e3e3;
  background: #fff;
  z-index: 12;
  display: none; }
  .chart-loader img {
    padding: 0 20px; }

/*---------(3.1 header-after.scss starts)-----------*/
header .row {
  margin-right: auto;
  margin-left: auto;
  max-width: 1070px;
  align-items: middle;
  padding-left: 7.5px;
  padding-right: 7.5px; }
header .fa-chevron-down {
  font-size: 8px;
  position: relative;
  top: 1px;
  left: 3px;
  color: #999; }

#top-nav {
  height: 29px; }
  #top-nav .row {
    height: 29px; }
    #top-nav .row .sate-col .state-dropdown {
      height: 29px;
      padding-top: 5px; }
      #top-nav .row .sate-col .state-dropdown:hover .state-dropdown-menu {
        display: block; }
      #top-nav .row .sate-col .state-dropdown .drop-btn img {
        width: 18px;
        height: 11px;
        position: relative;
        top: -1px;
        left: -3px; }
      #top-nav .row .sate-col .state-dropdown .drop-btn span {
        font-weight: 600;
        color: #444; }
      #top-nav .row .sate-col .state-dropdown .state-dropdown-menu {
        left: -50px; }
        #top-nav .row .sate-col .state-dropdown .state-dropdown-menu ul li {
          line-height: 3em; }
          #top-nav .row .sate-col .state-dropdown .state-dropdown-menu ul li:hover .circle-fill {
            display: block; }
          #top-nav .row .sate-col .state-dropdown .state-dropdown-menu ul li a {
            color: #111; }
            #top-nav .row .sate-col .state-dropdown .state-dropdown-menu ul li a:hover {
              text-decoration: none; }
    #top-nav .row .lang-col .lang-dropdown {
      height: 29px;
      padding-top: 5px; }
      #top-nav .row .lang-col .lang-dropdown:hover .lang-dropdown-menu {
        display: block; }
      #top-nav .row .lang-col .lang-dropdown .lang-drop-btn span {
        font-weight: 600;
        color: #444; }
      #top-nav .row .lang-col .lang-dropdown .lang-dropdown-menu {
        left: -50px; }
        #top-nav .row .lang-col .lang-dropdown .lang-dropdown-menu ul li {
          line-height: 3em; }
          #top-nav .row .lang-col .lang-dropdown .lang-dropdown-menu ul li:hover .circle-fill {
            display: block; }
          #top-nav .row .lang-col .lang-dropdown .lang-dropdown-menu ul li a {
            color: #111; }
            #top-nav .row .lang-col .lang-dropdown .lang-dropdown-menu ul li a:hover {
              text-decoration: none; }
        #top-nav .row .lang-col .lang-dropdown .lang-dropdown-menu a i {
          font-size: 8px; }
        #top-nav .row .lang-col .lang-dropdown .lang-dropdown-menu .learn-more:hover {
          color: #C55601; }
    #top-nav .row .store-col .store {
      font-size: 11px;
      line-height: 19px;
      color: #555;
      font-family: Arial,sans-serif; }
      #top-nav .row .store-col .store span {
        color: #111;
        font-size: 13px;
        font-weight: 600; }
  #top-nav .w-90 {
    width: 90%; }

#logo-nav {
  height: 70px;
  background-color: white; }
  #logo-nav .row {
    height: 70px; }
    #logo-nav .row .logo-col a.logo {
      margin-left: -20px; }
      #logo-nav .row .logo-col a.logo img {
        width: 170px;
        height: 30px; }
    #logo-nav .row .bell-col {
      margin-right: 0; }
      #logo-nav .row .bell-col .bell-dropdown:hover .bell-dropdown-menu {
        display: block; }
      #logo-nav .row .bell-col .bell-dropdown .bell-drop-btn {
        width: 30px;
        height: 50px;
        display: inline-block;
        text-align: center;
        line-height: 50px;
        padding-top: 3px;
        position: relative;
        top: -3px; }
        #logo-nav .row .bell-col .bell-dropdown .bell-drop-btn i {
          color: #7ba7cc;
          font-size: 16px; }
      #logo-nav .row .bell-col .bell-dropdown .bell-dropdown-menu {
        top: 50px;
        left: -188px;
        /*overriding style from 'page-card-padded' and arrow*/
        padding: 0;
        width: 400px; }
        #logo-nav .row .bell-col .bell-dropdown .bell-dropdown-menu ul {
          margin-top: 0;
          margin-bottom: 0; }
          #logo-nav .row .bell-col .bell-dropdown .bell-dropdown-menu ul li a {
            display: flex;
            justify-content: space-between;
            line-height: 2em;
            padding: 10px; }
            #logo-nav .row .bell-col .bell-dropdown .bell-dropdown-menu ul li a:hover {
              text-decoration: none;
              background: #f7f7f7; }
              #logo-nav .row .bell-col .bell-dropdown .bell-dropdown-menu ul li a:hover .right {
                visibility: visible; }
                #logo-nav .row .bell-col .bell-dropdown .bell-dropdown-menu ul li a:hover .right .close-mark:hover .ttip {
                  visibility: visible; }
            #logo-nav .row .bell-col .bell-dropdown .bell-dropdown-menu ul li a .left .title {
              color: #0066c3;
              font-weight: 700; }
            #logo-nav .row .bell-col .bell-dropdown .bell-dropdown-menu ul li a .left .tag {
              color: #111;
              font-weight: 600; }
            #logo-nav .row .bell-col .bell-dropdown .bell-dropdown-menu ul li a .right {
              visibility: hidden; }
              #logo-nav .row .bell-col .bell-dropdown .bell-dropdown-menu ul li a .right .close-mark {
                position: relative;
                top: -5px;
                padding: 5px;
                margin-left: 5px;
                font-weight: 700;
                font-size: 16px; }
                #logo-nav .row .bell-col .bell-dropdown .bell-dropdown-menu ul li a .right .close-mark .ttip {
                  position: absolute;
                  top: 20px;
                  left: 20px;
                  visibility: hidden;
                  border: 1px solid #111;
                  color: #111;
                  font-size: 11px;
                  line-height: 11px;
                  font-weight: 400;
                  background-color: #fff;
                  padding: 5px 5px; }
    #logo-nav .row .id-col {
      margin-left: 0; }
      #logo-nav .row .id-col .id-dropdown {
        height: 50px;
        display: inline-block;
        line-height: 50px;
        padding-top: 3px; }
        #logo-nav .row .id-col .id-dropdown:hover .id-dropdown-menu {
          display: block; }
        #logo-nav .row .id-col .id-dropdown .id-drop-btn {
          height: 50px;
          position: relative;
          top: -5px;
          font-weight: 600;
          color: #444; }
        #logo-nav .row .id-col .id-dropdown .id-dropdown-menu {
          top: 50px;
          left: -10px;
          width: 150px; }
          #logo-nav .row .id-col .id-dropdown .id-dropdown-menu ul li {
            line-height: 2.5em; }
            #logo-nav .row .id-col .id-dropdown .id-dropdown-menu ul li a {
              color: #0066c3;
              font-weight: 600; }
              #logo-nav .row .id-col .id-dropdown .id-dropdown-menu ul li a:hover {
                color: #C45500; }

#main-nav {
  background-color: #222e3e;
  font-size: 13px;
  border-bottom: 3px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
  height: 42px; }
  #main-nav nav {
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 7.5px; }
    #main-nav nav .home {
      background-color: unset; }
    #main-nav nav .drop-down {
      display: inline-block;
      border-right: 1px solid #666;
      position: relative;
      height: 38px;
      cursor: pointer; }
      #main-nav nav .drop-down:first-child {
        border-left: 1px solid #666; }
      #main-nav nav .drop-down:hover {
        background-color: #5F697A;
        border-bottom: 3px solid #fac876;
        box-sizing: content-box; }
        #main-nav nav .drop-down:hover .main-dropdown-menu {
          display: block; }
      #main-nav nav .drop-down:focus-within {
        background-color: #ececec;
        border-bottom: 3px solid #fac876;
        box-sizing: content-box; }
        #main-nav nav .drop-down:focus-within .drop-btn {
          color: #222e2e; }
      #main-nav nav .drop-down .drop-btn {
        color: #fff;
        line-height: 39px;
        padding-right: 15px;
        padding-left: 15px; }
        #main-nav nav .drop-down .drop-btn span {
          font-family: "Amazon Ember",Arial,sans-serif;
          font-size: 1.05em;
          font-weight: 500; }
        #main-nav nav .drop-down .drop-btn i {
          position: relative;
          top: -2px;
          padding-left: 10px; }
      #main-nav nav .drop-down .main-dropdown-menu {
        background-color: #222e3e;
        top: 41px;
        left: 0;
        min-width: 150px; }
        #main-nav nav .drop-down .main-dropdown-menu ul {
          margin-top: 0;
          margin-bottom: 0; }
          #main-nav nav .drop-down .main-dropdown-menu ul li:hover {
            background-color: #5F697A; }
          #main-nav nav .drop-down .main-dropdown-menu ul li a {
            display: block;
            padding: 10px;
            color: #fff; }
            #main-nav nav .drop-down .main-dropdown-menu ul li a:hover {
              text-decoration: none; }
          #main-nav nav .drop-down .main-dropdown-menu ul .separator {
            border-top: 1px solid #5F697A;
            box-shadow: none; }

.dropdown-menu-custom {
  min-width: 200px;
  position: absolute;
  top: 29px;
  z-index: 10;
  display: none; }

.arrow::before {
  display: inline-block;
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: -2px;
  left: 50%;
  background-color: #fff;
  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.2);
  transform: rotate(-135deg) translateX(50%); }

.circle-out {
  display: inline-block;
  position: relative;
  top: .3em;
  margin-right: .2em;
  width: 1.4em;
  height: 1.4em;
  border: 1px solid #999;
  border-radius: 50%; }

.circle-fill {
  top: 50%;
  left: 50%;
  width: 40%;
  height: 40%;
  position: absolute;
  background-color: #C55601;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  display: none; }

.selected-main .circle-fill {
  display: block; }

.home-focus {
  border-bottom: 3px solid #fac876;
  box-sizing: content-box;
  color: #222e2e;
  background-color: #ececec; }

/*---------(3.1 header-after.scss ends)-----------*/
.container-fluid {
  max-width: 1070px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-right: 0;
  padding-left: 0; }

/*---------(3.2 footer-after.scss starts)-----------*/
footer {
  overflow: hidden;
  background-color: white; }
  footer .footer-up {
    height: 75px;
    background-color: #e8e8e8;
    text-align: center;
    border: 1px solid #f3f3f3;
    font-family: "Amazon Ember", Arial, sans-serif;
    font-size: .95em; }
    footer .footer-up .comment {
      font-family: "Amazon Ember", Arial, sans-serif;
      font-size: .95em;
      font-weight: 700;
      margin-bottom: 10px; }
    footer .footer-up .sugession {
      font-family: "Amazon Ember", Arial, sans-serif;
      font-size: .95em;
      font-weight: 500; }
      footer .footer-up .sugession a:hover {
        color: #c45500; }
  footer .row {
    margin-right: auto;
    margin-left: auto;
    max-width: 1070px;
    padding: 20px 0px 50px 0px; }
    footer .row .col:last-child {
      flex-grow: 1.5;
      margin-left: auto; }
  footer ul {
    font-weight: 600; }
    footer ul li {
      font-size: 13px;
      line-height: 17px;
      margin-bottom: 5px; }
      footer ul li a:hover {
        color: #c45500; }
    footer ul li h6 {
      font-size: 14px;
      margin-bottom: 0px;
      font-weight: 700; }

/*---------(3.2 footer-after.scss ends)-----------*/
.mainbody {
  min-height: 500px; }

.ac-card {
  border: 1px solid #DDD;
  background-color: #fff;
  margin-bottom: 15px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  height: 60px; }

.ac-card1 {
  border: 1px solid #DDD;
  background-color: #fff;
  margin-bottom: 15px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  height: 110px; }

.ac-card2 {
  border: 1px solid #DDD;
  background-color: #fff;
  margin-bottom: 15px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  height: 134px; }

.ac-card-title {
  color: #000000;
  font-size: 1.4em;
  padding: 12px 5px 5px 12px;
  position: relative; }

.b {
  font-size: 1.1em; }

.ac-card-title > p {
  float: right;
  font-size: 13px; }

.option {
  color: #687fe6;
  width: 100px; }

.ac-card-texte {
  padding: 13px 5px 5px 10px; }

.ac-card-texte > p {
  font-size: 14px;
  line-height: 18px; }

.ac-card-title2 {
  padding: 10px;
  height: 40px;
  border-bottom: 1px solid lightgray; }

.ac-card-title2 > h4 {
  font-size: 18px;
  color: #ad6007; }

.ac-card-texte2 {
  margin-left: 17px;
  margin-right: 17px;
  margin-top: 17px;
  margin-bottom: 17px;
  height: 61px;
  background-color: #F8F8F8;
  padding: 10px; }

.ac-card-texte2 > p {
  font-size: 14px; }

.ac-card3 {
  border: 1px solid #DDD;
  background-color: white;
  margin-bottom: 15px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  height: 290px; }

.ac-card-texte3 {
  margin-left: 17px;
  margin-right: 17px;
  margin-top: 17px;
  margin-bottom: 17px;
  height: 214px;
  background-color: #F8F8F8;
  padding: 10px;
  line-height: 24px;
  font-size: 14px;
  border: 1px solid #f0ecec; }

.col > a:hover {
  color: #C75500; }
