.hn-page-wrapper {
  max-width: 1100px;
  min-width: 980px;
  margin: 0 auto;
  padding: 0 15px;
  height: 1038px; }

.hn-page {
  margin-top: 15px;
  font-size: 1em; }

.hn-card {
  border: 1px solid #DDD;
  background-color: #fff;
  margin-bottom: 15px;
  box-shadow: 0px 1px 3px 0px #0000000d;
  border-radius: 2px; }

.hn-card-content {
  margin-top: 0px; }

.hn-help-card {
  padding: 15px; }

.hn-cms-content {
  width: 100%; }

.hn-cms-cols-layout {
  display: inline-block;
  width: 100%; }

.hn-cms-cols-layout .hn-cms-col-width-100 {
  width: 100%; }

.hn-cms-cols-layout .hn-cms-col {
  float: left;
  padding-right: 15px; }

.hn-help-primary-topics .hn-help-primary-title {
  font-size: 1.5em;
  padding: 10px; }

.hn-cms-cols-layout .hn-cms-col-width-33 {
  width: 33%; }

.hn-help-primary-topics .hn-help-primary-topic a {
  padding: 10px;
  display: block;
  margin-bottom: 5px;
  border: 1px solid #fff;
  background-color: #fff;
  border-radius: 3px;
  transition: all 200ms ease;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  text-decoration: none; }

.hn-help-primary-topics .hn-help-primary-topic a {
  padding: 10px;
  display: block;
  margin-bottom: 5px;
  border: 1px solid #fff;
  background-color: #fff;
  border-radius: 3px;
  transition: all 200ms ease;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  text-decoration: none; }

.hn-help-primary-topics .hn-help-primary-topic a .hn-help-primary-topic-img {
  width: 30px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle; }

.hn-cms-content img {
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  transition: all 200ms ease;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease; }

.hn-help-primary-topics .hn-help-primary-topic a .hn-help-primary-topic-title {
  font-size: 1.1em;
  display: inline-block;
  vertical-align: middle;
  width: -moz-calc(100% - 48px);
  width: -webkit-calc(100% - 48px);
  width: calc(100% - 48px); }

.hn-spacing-none, .hn-ws .hn-ws-spacing-none {
  margin-bottom: 0 !important; }

.hn-row {
  width: 100%; }

.hn-row .hn-span4, .hn-ws .hn-row .hn-ws-span4 {
  width: 31.948%; }

.hn-ws div.hn-column, div.hn-column {
  margin-right: 2%;
  float: left;
  min-height: 1px;
  overflow: visible;
  _float: left !important; }

.hn-declarative {
  height: 25px; }

.hn-card ol, .hn-card ul {
  color: #333333; }

.hn-ordered-list, .hn-unordered-list,
#help-nd ol,
#help-nd ul {
  padding: 0; }

.hn-unordered-list,
#help-nd ul {
  margin: 0 0 0 18px;
  color: #111; }

.hn-help-topics ul .hn-help-selected {
  font-weight: bold;
  color: #C45500; }

.hn-help-topics ul li {
  font-size: 1.1em;
  padding: 7px 0;
  text-indent: 0; }

.hn-ordered-list li, .hn-unordered-list li,
#help-nd ol li,
#help-nd ul li {
  word-wrap: break-word;
  margin: 0; }

.hn-unordered-list li,
#help-nd ul li {
  list-style: disc; }

.hn-help-topics ul .hn-help-selected .hn-list-item {
  color: inherit; }

.hn-help-topics ul .hn-help-selected a {
  color: inherit; }

.hn-column.hn-span-last {
  margin-right: 0;
  float: right; }

.hn-row .hn-span8, .hn-ws .hn-row .hn-ws-span8 {
  width: 65.948%; }

.hn-help-hover-box-content.active {
  display: block; }

.hn-ws div.hn-column, div.hn-column {
  margin-right: 2%;
  float: left;
  min-height: 1px;
  overflow: visible;
  _float: left !important; }

.hn-spacing-none, .hn-ws .hn-ws-spacing-none {
  margin-bottom: 0 !important; }

.hn-help-topic-detail h2 {
  color: #C45500;
  margin-bottom: 15px;
  font-size: 1.3rem;
  font-weight: normal; }

.hn-help-topics-secondary ul li {
  font-size: 1em;
  padding: 5px 0; }

.hn-help-topics-secondary ul li {
  font-size: 1em;
  padding: 5px 0; }

.hn-help-primary-topics .hn-help-primary-topic a:hover,
.hn-help-primary-topics .hn-help-primary-topic a:focus,
.hn-help-primary-topics .hn-help-primary-topic a:active {
  border: 1px solid #b8b8b8;
  box-shadow: 0px 1px 3px 3px rgba(0, 0, 0, 0.05); }
