.node-tp--ac-page-wrapper
.node-tp--ac-page.ac-page-wrapper
	// / creates the action notification items
	.node-tp--ac-card
		.node-tp--ac-card-content.node-tp--ac-help-card
			| No information available 
			a(href='#') All Help Topics
