block seven-day-table
    table.seven-day-table
        tr
            th #[span Bounty Name] #[i.fa.fa-caret-down]
            th #[span Date] #[i.fa.fa-caret-down]
            th #[span Tracking ID] #[i.fa.fa-caret-down]
            th #[span Referrals] #[i.fa.fa-caret-down]
            th #[span Commission- Income Rate] #[i.fa.fa-caret-down]
            th #[span Referral Commission] #[i.fa.fa-caret-down]
        tr
            td <a href="#">Subscribe & Save – Health & Personal Care (HPC) – E ...</a>
            td -
            td -
            td -
            td -
            td -
        
        