
.sum-bottom-info-wrapper
    .sum-bottom-info.d-flex
        .left-part
            .com-sum.page-card-padded
                .header Commissions Summary
                .main.d-flex.justify-content-around
                    .clicks.box
                        .title Clicks
                        .amount 4,732
                    .ordered.box
                        .title Ordered
                        .amount 277
                    .shipped.box
                        .title Shipped
                        .amount 306
                    .bonus.box
                        .title Bonus
                        .amount $0.00
                    .conversion.box
                        .title Conversion
                        .amount 6.48%
                .footer
                    span.total Earnings #[span.tag #[i (Includes Bonus)]]
                    span.amount $762.36
            .boun-sum.page-card-padded
                .header Bounties Summary
                .main.d-flex
                    .total-refs.box
                        .title Total Number of Referrals
                        .amount 0
                    .total-earnings.box
                        .title Earnings
                        .amount $0.00
            .ear-sum.page-card
                .main.d-flex
                    .title Total Earnings Summary #[i (Includes Bonus)]
                    .amount $762.36%
        .right-part.d-inline-block
            .shopping-ads.page-card-padded
                .header.d-flex.justify-content-between
                    .ads
                        .title Native Shopping Ads 
                        .tag #[i *Earnings are included in Commissions]
                    .detail
                        .title <a href="#">Detailed reports</a>
                        .tag #[i Data last updated on : Nov 04 2020 12:00 PST]
                .main.d-flex.justify-content-around
                    .clicks.box
                        .title Clicks
                        .amount 4,732
                    .ordered.box
                        .title Ordered
                        .amount 277
                    .shipped.box
                        .title Shipped
                        .amount 306
                    .bonus.box
                        .title Bonus
                        .amount $0.00
                    .conversion.box
                        .title Conversion
                        .amount 6.48%
            .feauted.page-card-padded
                .header Featured Promotions & Events
                .separator
                .main.d-flex.justify-content-between
                    .img-left <img src="/img/reports/AssocBounty.jpg" alt=""/>
                    .img-right <img src="/img/reports/PrimeStudent.jpg" alt=""/>





