
doctype html
html
    head
        title= title
        // link(rel='stylesheet', href='/vendor/fontawesome-free-5.13.0-web/css/all.css')
        // link(rel='stylesheet', href='/vendor/bootstrap-4.3.1-dist/css/bootstrap.css')
        // link(href="/css/lib/whole.css" rel="stylesheet" type="text/css")
        link(rel='stylesheet', href="/css/page/reports/tabs-frags/summary/summary-s.css")
    body
        include sum-bottom-info
    