section.wellcome {
  margin-left: 35px;
  margin-right: 35px; }
  section.wellcome h4.title {
    font-size: 28px;
    color: #111111;
    margin-top: 0;
    line-height: 32px; }
  section.wellcome p.descrip {
    color: #555;
    padding-top: 15px;
    margin-top: 10px;
    line-height: inherit;
    font-family: AmazonEmber_Lt, "Amazon Ember", Arial, sans-serif;
    margin-bottom: 60px;
    line-height: 24px;
    font-size: 16px; }
