extends ../../../layout/main/main


block pageRes
    link(href="/css/lib/lib.css" rel="stylesheet" type="text/css")
    link(href="/css/page/non-loggable/node-topic-GRXPHT8U84RAYDXZ-footer/node-topic-GRXPHT8U84RAYDXZ-footer-s.css" rel="stylesheet" type="text/css")

block content
    include section
    
block pageResBottom
    
        
