extends ../../../layout/main/main


block pageRes
    link(href="/css/lib/lib.css" rel="stylesheet" type="text/css")
    link(href="/css/page/non-loggable/receive-your-earnings/receive-your-earnings-s.css" rel="stylesheet" type="text/css")

block content
    include section
    
block pageResBottom
    
        
