
.boun-bottom-info
    .boun-chart-bottom.d-flex.card-border-tbless
        .total-referrals.box
            .title Total Referrals
            .amount 1
        .total-earnings.box
            .title Total Earnings
            .amount $676.11
        .empty.box


        
