block seven-day-table
    table.seven-day-grid
        tr
            th #[span Tracking ID] #[i.fa.fa-caret-down]
            th #[span Clicks] #[i.fa.fa-caret-down]
            th #[span Items Shipped] #[i.fa.fa-caret-down]
            th #[span Revenue] #[i.fa.fa-caret-down]
            th #[span Bonus] #[i.fa.fa-caret-down]
            th #[span Commisssion Income] #[i.fa.fa-caret-down]
        tr
            td <a href="#">bestob-20</a>
            td 330
            td 9
            td 43
            td 79
            td $1,923.91
        
        tr
            td <a href="#">comparisontalk-20</a>
            td 732
            td 3
            td 29
            td 74
            td $6,299.78
        tr
            td <a href="#">guidel-20</a>
            td 421
            td 6
            td 29
            td 35
            td $8,923.19
        
        tr
            td <a href="#">autonerdy-20</a>
            td 992
            td 10
            td 23
            td 9
            td $722.40
        tr
            td <a href="#">scienceselector-20</a>
            td 979
            td 1
            td 29
            td 31
            td $1,944.69
        tr
            td <a href="#">housetactical-20</a>
            td 817
            td 0
            td 5
            td 95
            td $523.28
        tr
            td <a href="#">homeguidezone-20</a>
            td 711
            td 0
            td 29
            td 60
            td $793.10
        tr
            td <a href="#">proreviewbuzznew-20</a>
            td 973
            td 0
            td 29
            td 31
            td $3,923.19
        tr
            td <a href="#">5cyclingnew-20</a>
            td 411
            td 1
            td 30
            td 50
            td $1,563.25
        tr
            td <a href="#">brz04-20</a>
            td 505
            td 1
            td 9
            td 1
            td $423.30
            

        tr
            td <a href="#">prh03-20</a>
            td 339
            td 9
            td 19
            td 38
            td $1,724.92
        tr
            td <a href="#">mysv-20</a>
            td 501
            td 7
            td 22
            td 76
            td $1,124.16
        tr
            td <a href="#">mysh05f-20</a>
            td 562
            td 1
            td 39
            td 87
            td $2,413.17

//guidel-20
//cutesthome-20
//comparisontalk-20
//autonerdy-20
//scienceselector-20
//bestob-20
//housetactical-20
//homeguidezone-20
//proreviewbuzznew-20
//5cyclingnew-20
//brz04-20
//staplesearchnew-20
//autonerdsreview-20
//prh03-20
//reviewertouch-20
//mysv-20