.bounties-tab
    #chart-popup.popup
        .title july 29 2020
        ul
            li #[span.disc] #[span.type Earnings: ] #[span.value $0]
            li #[span.disc] #[span.type Referrals: ] #[span.value $0]
    canvas#bounties-canvas(width="0" height="0")