.commissions-tab
    #chart-popup.popup
        .title july 29 2020
        ul
            li #[span.disc] #[span.type Earnings: ] #[span.value $0]
            li #[span.disc] #[span.type Clicks: ] #[span.value $0]
            li #[span.disc] #[span.type Ordered Items: ] #[span.value $0]
    canvas#commissions-canvas(width="0" height="0")
    