extends ../../layout/main/main



block pageRes
    link(href="/css/lib/lib.css" rel="stylesheet" type="text/css")
    link(href="/css/page/reports/reports-s.css" rel="stylesheet" type="text/css")
    // script(src="/page/reports/reports.js" type="module")
    script(src="/#{jsRes.reports}" type="module")
    // script(src="/js/page/reports.js" type="module")
    script(src="/#{jsRes.reports}" type="module")

block content
    include tabs
        
block pageResBottom
    // script(src="/vendor/konva.js" type="text/javascript")
    