
.result-span-panel.arrow.page-card-padded
    .title
        span.date Sep 20 2020 - Sep 26 2020 (Last 7 Days)
        span.close-btn.close-btn-border #[span &times;]
    .separator
    ul
        li.today
            span.circle-out #[span.circle-fill]
            span.data-range-count
            span.raw-date.today
            span.day Today
            span  (
            span.date-range Sep 27 2020
            span )
        li.yesterday
            span.circle-out #[span.circle-fill]
            span.data-range-count
            span.raw-date.yesterday
            span.day Yesterday
            span  (
            span.date-range Sep 26 2020
            span )
        li.selectd.last-7-day
            span.circle-out #[span.circle-fill]
            span.data-range-count
            span.raw-date
            span.day Last 7 Days
            span  (
            span.date-range Sep 20 2020 - Sep 26 2020
            span )
        li.last-30-day
            span.circle-out #[span.circle-fill]
            span.data-range-count
            span.raw-date
            span.day Last 30 Days
            span  (
            span.date-range Aug 28 2020 - Sep 26 2020
            span )
        li.date-preset-up-li
            span.circle-out #[span.circle-fill]
            span.pre-data-range-count
            span.pre-raw-date
            span.pre-day
            span.pre-date-range
            .date-preset
                span.button Preset Dates #[i.fa.fa-chevron-down(aria-hidden="true")]
                .preset-dropdown-menu
                    ul
                        li.preset-li.selectd.this-week
                            span.preset-data-range-count
                            span.preset-raw-date-prev
                            span.preset-raw-date-recent
                            span.preset-day This Week
                            span.preset-paren  (
                            span.preset-date-range Aug 28 2020 - Sep 26 2020
                            span.preset-paren )
                        li.preset-li.last-week
                            span.preset-data-range-count
                            span.preset-raw-date-prev
                            span.preset-raw-date-recent
                            span.preset-day Last Week
                            span.preset-paren  (
                            span.preset-date-range Aug 28 2020 - Sep 26 2020
                            span.preset-paren )
                        li.preset-li.this-month
                            span.preset-data-range-count
                            span.preset-raw-date-prev
                            span.preset-raw-date-recent
                            span.preset-day This Month
                            span.preset-paren  (
                            span.preset-date-range Aug 28 2020 - Sep 26 2020
                            span.preset-paren )
                        li.preset-li.last-month
                            span.preset-data-range-count
                            span.preset-raw-date-prev
                            span.preset-raw-date-recent
                            span.preset-day Last Month
                            span.preset-paren  (
                            span.preset-date-range Aug 28 2020 - Sep 26 2020
                            span.preset-paren )
                        li.preset-li.this-quarter
                            span.preset-data-range-count
                            span.preset-raw-date-prev
                            span.preset-raw-date-recent
                            span.preset-day This Quarter
                            span.preset-paren  (
                            span.preset-date-range Aug 28 2020 - Sep 26 2020
                            span.preset-paren )
                        li.preset-li.last-quarter
                            span.preset-data-range-count
                            span.preset-raw-date-prev
                            span.preset-raw-date-recent
                            span.preset-day Last Quarter
                            span.preset-paren  (
                            span.preset-date-range Aug 28 2020 - Sep 26 2020
                            span.preset-paren )
                        li.preset-li.this-year
                            span.preset-data-range-count
                            span.preset-raw-date-prev
                            span.preset-raw-date-recent
                            span.preset-day This Year
                            span.preset-paren  (
                            span.preset-date-range Aug 28 2020 - Sep 26 2020
                            span.preset-paren )
                        li.preset-li.last-year
                            span.preset-data-range-count
                            span.preset-raw-date-prev
                            span.preset-raw-date-recent
                            span.preset-day Last Year
                            span.preset-paren  (
                            span.preset-date-range Aug 28 2020 - Sep 26 2020
                            span.preset-paren )
                    
                            
                
            
        li
            span.circle-out #[span.circle-fill]
            span.data-range-count
            span.raw-date
            span.day Custom Date Range
    .separator
    .commands
        .float-right.pr-3
            span.cancel-btn Cancel
            span.apply-btn Apply
        

