.summary-tab
    #chart-popup.popup
        .title July 29 2020
        ul
            li #[span.disc] #[span.type Fees: ] #[span.value $0]
            li #[span.disc] #[span.type Bounties: ] #[span.value $0]
        .total.value Total: $0
    //canvas#summary-canvas(width="0" height="0")
    <canvas id="summary-canvas" width="1048" height="250"></canvas>
    include tabs-frags/summary/sum-bottom-info