.tracking-id-panel.arrow.page-card-padded.pl-0.pr-0
    .search.pl-2
        input.search-field(type="text" placeholder="Search")
        i.search-icon.fa.fa-search(aria-hidden="true")
    .separator.pl-2
    .scroll
        span.selectedStall
        ul
            li #[span.rect-out #[span.rect-fill]] All
            li #[span.rect-out #[span.rect-fill]] guidel-20
            li #[span.rect-out #[span.rect-fill]] comparisontalk-20
            li #[span.rect-out #[span.rect-fill]] autonerdy-20
            li #[span.rect-out #[span.rect-fill]] scienceselector-20
            li #[span.rect-out #[span.rect-fill]] bestob-20
            li #[span.rect-out #[span.rect-fill]] housetactical-20
            li #[span.rect-out #[span.rect-fill]] homeguidezone-20
            li #[span.rect-out #[span.rect-fill]] proreviewbuzznew-20
            li #[span.rect-out #[span.rect-fill]] 5cyclingnew-20
            li #[span.rect-out #[span.rect-fill]] brz04-20
            li #[span.rect-out #[span.rect-fill]] staplesearchnew-20
            li #[span.rect-out #[span.rect-fill]] autonerdsreview-20
            li #[span.rect-out #[span.rect-fill]] prh03-20
            li #[span.rect-out #[span.rect-fill]] reviewertouch-20
            li #[span.rect-out #[span.rect-fill]] mysv-20
            li #[span.rect-out #[span.rect-fill]] mysh05f-20 
    .commands.pl-2
        span.cancel-btn Cancel
        span.apply-btn Apply
    .note.pl-2 *Note: You can either select 'All' or a maximum of 1 individual Tracking IDs.
        