
<!-- carousel section start -->
//section#caro
//    .caro-container
//        .slide.slide-anim
//            img(src="/img/home-before/Luxury-Beauty-2X.jpg" alt="")
//            .caption Earth's biggest selection. One online store
//        .slide.slide-anim
//            img(src="/img/home-before/Kindle-Fire-Tablet-Devices-2X.jpg" alt="")
//            .caption world is inheriting
//        .slide.slide-anim
//            img(src="/img/home-before/Furniture-Home-Garden-2X.jpg" alt="")
//            .caption He should make it selection. One online store
//        .slide.slide-anim
//            img(src="/img/home-before/Fashion-Shoes-Jewelry-2X.jpg" alt="")
//            .caption come here now selection. One online store
//        .slide.slide-anim
//            img(src="/img/home-before/Eco-Fire-TV-Devices-2X.jpg" alt="")
//            .caption dummy text selection. One online store
//        .slide.slide-anim
//            img(src="/img/home-before/Digital-Music-Video-2X.jpg" alt="")
//            .caption lorem ipsum selection. One online store
<!-- carousel section end -->




<!-- carousel section start -->
//section#caro
//    .caro-container.owl-carousel
//        .slide
//            img(src="/img/home-before/Luxury-Beauty-2X.jpg" alt="")
//            .caption
//                .title.
//                    Since we have a global audience, the Associates Program has
//                    helped us to scale our earnings internationally. It's been
//                    simple to sign up, expand and use!”
//                .caption-footer BuzzFeed
//        .slide
//            img(src="/img/home-before/Kindle-Fire-Tablet-Devices-2X.jpg" alt="")
//            .caption
//                .title.
//                    Since we have a global audience, the Associates Program has
//                    helped us to scale our earnings internationally. It's been
//                    simple to sign up, expand and use!”
//                .caption-footer Impremedia
//        .slide
//            img(src="/img/home-before/Furniture-Home-Garden-2X.jpg" alt="")
//            .caption
//                .title.
//                    Since we have a global audience, the Associates Program has
//                    helped us to scale our earnings internationally. It's been
//                    simple to sign up, expand and use!”
//                .caption-footer Impremedia
//        .slide
//            img(src="/img/home-before/Fashion-Shoes-Jewelry-2X.jpg" alt="")
//            .caption
//                .title.
//                    Since we have a global audience, the Associates Program has
//                    helped us to scale our earnings internationally. It's been
//                    simple to sign up, expand and use!”
//                .caption-footer Impremedia
//    .dots
//        span.outer.active
//        span.outer
//        span.outer
//        span.outer
<!-- carousel section end -->


        




section#caro
    .slide-wrapper
        .slider
            .image-container
                .image
                    img(src="/img/visitor-2/carousel_bg_0_1x.jpg" width="1100" height="430")
                    .caption
                        .title.
                            Since we have a global audience, the Associates Program has
                            helped us to scale our earnings internationally. It's been
                            simple to sign up, expand and use!”
                        .caption-footer BuzzFeed
                .image
                    img(src="/img/visitor-2/carousel_bg_1_1x.jpg" width="1100" height="430")
                    .caption
                        .title.
                            Since we have a global audience, the Associates Program has
                            helped us to scale our earnings internationally. It's been
                            simple to sign up, expand and use!”
                        .caption-footer Impremedia
                .image
                    img(src="/img/visitor-2/carousel_bg_2_1x.jpg" width="1100" height="430")
                    .caption
                        .title.
                            Since we have a global audience, the Associates Program has
                            helped us to scale our earnings internationally. It's been
                            simple to sign up, expand and use!”
                        .caption-footer Impremedia
                .image
                    img(src="/img/visitor-2/carousel_bg_3_1x.jpg" width="1100" height="430")
                    .caption
                        .title.
                            Since we have a global audience, the Associates Program has
                            helped us to scale our earnings internationally. It's been
                            simple to sign up, expand and use!”
                        .caption-footer Impremedia
    .dots
        span.circle.active
        span.circle
        span.circle
        span.circle
