
section.faq
    h2.setion-title Frequently Asked Question
    .secs
        .sec1.sec
            h5.title How does the Associates Program work?
            p.descrip.
                You can share products and available programs on
                Amazon with your audience through customized linking
                tools and earn money on qualifying purchases and
                customer actions like signing up for a free
                trial program. #[a(href="#") Learn more.]
        .sec2.sec
            h5.title How do I earn in this program?
            p.descrip.
                You earn from qualifying purchases and programs
                through the traffic you drive to Amazon. Commission 
                income for qualifying purchases and programs differ
                based on product category. #[a(href="#") Learn more.]
        .sec3.sec   
            h5.title How do I qualify for this program?
            p.descrip.first.
                Bloggers, publishers and content creators with a qualifying
                website or mobile app can participate in this 
                program. #[a(href="#") Learn more.]
            p.descrip.
                If you are an influencer with an established social media 
                following, #[a(href="#")  learn about the Amazon Influencer Program.]
        .sec4.sec
            h5.title How do I sign up to the program?
            p.descrip.first Sign up to the program  #[a(href="#") here.]
            p.descrip.
                We will review your application and approve it if you meet the
                qualifying criteria. #[a(href="#") Learn more.]
    