
section.options
    .signup.f-item
        .icon-big #[img(src="/img/visitor-2/TapHand_Join.svg" alt="alt")]
        .icon-small
            span.outer #[span.inner 1]
        .tag Sign up
        .descrip.
            Join tens of thousands of creators,
            publishers and bloggers who are earning
            with the Amazon Associates Program.
    .recommend.f-item
        .icon-big #[img(src="/img/visitor-2/RecommendPage.svg" alt="alt")]
        .icon-small
            span.outer #[span.inner 2]
        .tag Sign up
        .descrip.
            Join tens of thousands of creators,
            publishers and bloggers who are earning
            with the Amazon Associates Program.
    .earn.f-item
        .icon-big #[img(src="/img/visitor-2/EarnBag.svg" alt="alt")]
        .icon-small
            span.outer #[span.inner 3]
        .tag Sign up
        .descrip.
            Join tens of thousands of creators,
            publishers and bloggers who are earning
            with the Amazon Associates Program.
    
    