
section.wellcome
    h4.title Amazon Associates - Amazon’s affiliate marketing program
    p.descrip.
        Welcome to one of the largest affiliate marketing programs in 
        the world. The Amazon Associates Program helps content creators,
        publishers and bloggers monetize their traffic. With millions of
        products and programs available on Amazon, associates use easy
        link-building tools to direct their audience to their recommendations,
        and earn from qualifying purchases and programs.