// carousel section start
section#caro
    div
        .caro-container
            .slide
                img(src="/img/home-before/Luxury-Beauty-2X.jpg" alt="")
                .caption Earth's biggest selection. One online store
            .slide
                img(src="/img/home-before/Kindle-Fire-Tablet-Devices-2X.jpg" alt="")
                .caption world is inheriting
            .slide
                img(src="/img/home-before/Furniture-Home-Garden-2X.jpg" alt="")
                .caption He should make it selection. One online store
            .slide
                img(src="/img/home-before/Fashion-Shoes-Jewelry-2X.jpg" alt="")
                .caption come here now selection. One online store
            .slide
                img(src="/img/home-before/Eco-Fire-TV-Devices-2X.jpg" alt="")
                .caption dummy text selection. One online store
            .slide
                img(src="/img/home-before/Digital-Music-Video-2X.jpg" alt="")
                .caption lorem ipsum selection. One online store
            .label
            .dropdown-box
                .circle-wrapper
                    i.fa.fa-chevron-circle-up.active(aria-hidden="true")
                    i.fa.fa-chevron-circle-down(aria-hidden="true")
                .dropdown-list
                    ul
                        li.item All Categories
                        li.item Music & Movies
                        li.item Digital Entertainment
                        li.item Fashion, Shoes & Jewelry
                        li.item Health & Beauty
                        li.item Home, Kitchen, Garden & Grocery
                    div
// carousel section end