// info section start
.line-under
section#info
    .join
        .img
            img(src="/img/home-before/welcome-step-join.png" alt="")
        h4.info-title Join
        p It's easy and free to join
        p Get up and running today. Just one approval to join — no third-party advertiser approvals.
        a(href="#") Learn More #[i.fafa-angle-right]
        a(href="#") Join Now #[i.fafa-angle-right]
    .ad
        .img
            img(src="/img/home-before/welcome-step-advertise.png" alt="")
        h4.info-title Advertise
        p Choose from over a million products to advertise to your customers
        p Whether you are a large network, content site or blogger, we have simple linking tools to meet your advertising needs and help you monetize your web site.
        a(href="#") Linking Tools  #[i.fafa-angle-right]
    .earn
        .img
            img(src="/img/home-before/welcome-step-earn.png" alt="")
        h4.info-title Earn
        p Get up to 10% in advertising fees
        p Earn advertising fees from Qualifying Purchases, not just the products you advertised.
        p Plus, our competitive conversion rates help you maximize your earnings.
        a(href="#") Advertising Fees #[i.fafa-angle-right]
        a(href="#") JReporting Tools #[i.fafa-angle-right]
    .space-fix
    .whats-new
        .label
            label What's New
        .get-started
            h3.info-title Boost your earnings with Native Shopping Ads
            p Display highly relevant and dynamic product recommendations in a stylishly designed, responsive and mobile-optimized ad unit.
            a(href="#") Get Started
        .bounty-program
            h3.info-title Amazon Bounty Program
                img(src="/img/home-before/BountyProgramBanner125x104.png" alt="")
                div It’s easy. Refer and earn fixed advertising fees when visitors try and/or sign-up for valuable services and programs.
            a(href="#") Get Links and Banners
.ad-rates *See #[a(href="#") Advertising rates] for details 
// info section end