extends ../../../layout/visitor/visitor


block pageCss
    link(href="/css/page/home/visitor-home/visitor-home-s.css" rel="stylesheet" type="text/css")
    
block content
    include join-now
    include caro
    include info
        
