body, html {
  box-sizing: border-box;
  background: #f3f3f3 none repeat scroll;
  overflow-x: auto;
  min-width: 1000px;
  margin-top: 1px;
  padding: 0;
  font-size: 13px;
  line-height: 19px; }

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  outline: none;
  border: none;
  padding: 0; }

ul {
  margin: 0;
  padding: 0; }

ul li {
  margin: 0;
  padding: 0;
  list-style-type: none; }

p {
  margin-bottom: 0;
  line-height: 1.75;
  font-size: 16px;
  color: #333333;
  font-weight: 400; }

a {
  color: #0066c0;
  cursor: pointer;
  text-decoration: none; }

.glasspane {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 11;
  display: none; }

.chart-loader {
  width: 200px;
  height: 45px;
  border-radius: 5px;
  background: #fff;
  line-height: 45px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #e3e3e3;
  background: #fff;
  z-index: 12;
  display: none; }
  .chart-loader img {
    padding: 0 20px; }

/*---------(3.1 header-after.scss starts)-----------*/
header .row {
  margin-right: auto;
  margin-left: auto;
  max-width: 1070px;
  align-items: middle;
  padding-left: 7.5px;
  padding-right: 7.5px; }
header .fa-chevron-down {
  font-size: 8px;
  position: relative;
  top: 1px;
  left: 3px;
  color: #999; }

#top-nav {
  height: 29px; }
  #top-nav .row {
    height: 29px; }
    #top-nav .row .sate-col .state-dropdown {
      height: 29px;
      padding-top: 5px; }
      #top-nav .row .sate-col .state-dropdown:hover .state-dropdown-menu {
        display: block; }
      #top-nav .row .sate-col .state-dropdown .drop-btn img {
        width: 18px;
        height: 11px;
        position: relative;
        top: -1px;
        left: -3px; }
      #top-nav .row .sate-col .state-dropdown .drop-btn span {
        font-weight: 600;
        color: #444; }
      #top-nav .row .sate-col .state-dropdown .state-dropdown-menu {
        left: -50px; }
        #top-nav .row .sate-col .state-dropdown .state-dropdown-menu ul li {
          line-height: 3em; }
          #top-nav .row .sate-col .state-dropdown .state-dropdown-menu ul li:hover .circle-fill {
            display: block; }
          #top-nav .row .sate-col .state-dropdown .state-dropdown-menu ul li a {
            color: #111; }
            #top-nav .row .sate-col .state-dropdown .state-dropdown-menu ul li a:hover {
              text-decoration: none; }
    #top-nav .row .lang-col .lang-dropdown {
      height: 29px;
      padding-top: 5px; }
      #top-nav .row .lang-col .lang-dropdown:hover .lang-dropdown-menu {
        display: block; }
      #top-nav .row .lang-col .lang-dropdown .lang-drop-btn span {
        font-weight: 600;
        color: #444; }
      #top-nav .row .lang-col .lang-dropdown .lang-dropdown-menu {
        left: -50px; }
        #top-nav .row .lang-col .lang-dropdown .lang-dropdown-menu ul li {
          line-height: 3em; }
          #top-nav .row .lang-col .lang-dropdown .lang-dropdown-menu ul li:hover .circle-fill {
            display: block; }
          #top-nav .row .lang-col .lang-dropdown .lang-dropdown-menu ul li a {
            color: #111; }
            #top-nav .row .lang-col .lang-dropdown .lang-dropdown-menu ul li a:hover {
              text-decoration: none; }
        #top-nav .row .lang-col .lang-dropdown .lang-dropdown-menu a i {
          font-size: 8px; }
        #top-nav .row .lang-col .lang-dropdown .lang-dropdown-menu .learn-more:hover {
          color: #C55601; }
    #top-nav .row .store-col .store {
      font-size: 11px;
      line-height: 19px;
      color: #555;
      font-family: Arial,sans-serif; }
      #top-nav .row .store-col .store span {
        color: #111;
        font-size: 13px;
        font-weight: 600; }
  #top-nav .w-90 {
    width: 90%; }

#logo-nav {
  height: 70px;
  background-color: white; }
  #logo-nav .row {
    height: 70px; }
    #logo-nav .row .logo-col a.logo {
      margin-left: -20px; }
      #logo-nav .row .logo-col a.logo img {
        width: 170px;
        height: 30px; }
    #logo-nav .row .bell-col {
      margin-right: 0; }
      #logo-nav .row .bell-col .bell-dropdown:hover .bell-dropdown-menu {
        display: block; }
      #logo-nav .row .bell-col .bell-dropdown .bell-drop-btn {
        width: 30px;
        height: 50px;
        display: inline-block;
        text-align: center;
        line-height: 50px;
        padding-top: 3px;
        position: relative;
        top: -3px; }
        #logo-nav .row .bell-col .bell-dropdown .bell-drop-btn i {
          color: #7ba7cc;
          font-size: 16px; }
      #logo-nav .row .bell-col .bell-dropdown .bell-dropdown-menu {
        top: 50px;
        left: -188px;
        /*overriding style from 'page-card-padded' and arrow*/
        padding: 0;
        width: 400px; }
        #logo-nav .row .bell-col .bell-dropdown .bell-dropdown-menu ul {
          margin-top: 0;
          margin-bottom: 0; }
          #logo-nav .row .bell-col .bell-dropdown .bell-dropdown-menu ul li a {
            display: flex;
            justify-content: space-between;
            line-height: 2em;
            padding: 10px; }
            #logo-nav .row .bell-col .bell-dropdown .bell-dropdown-menu ul li a:hover {
              text-decoration: none;
              background: #f7f7f7; }
              #logo-nav .row .bell-col .bell-dropdown .bell-dropdown-menu ul li a:hover .right {
                visibility: visible; }
                #logo-nav .row .bell-col .bell-dropdown .bell-dropdown-menu ul li a:hover .right .close-mark:hover .ttip {
                  visibility: visible; }
            #logo-nav .row .bell-col .bell-dropdown .bell-dropdown-menu ul li a .left .title {
              color: #0066c3;
              font-weight: 700; }
            #logo-nav .row .bell-col .bell-dropdown .bell-dropdown-menu ul li a .left .tag {
              color: #111;
              font-weight: 600; }
            #logo-nav .row .bell-col .bell-dropdown .bell-dropdown-menu ul li a .right {
              visibility: hidden; }
              #logo-nav .row .bell-col .bell-dropdown .bell-dropdown-menu ul li a .right .close-mark {
                position: relative;
                top: -5px;
                padding: 5px;
                margin-left: 5px;
                font-weight: 700;
                font-size: 16px; }
                #logo-nav .row .bell-col .bell-dropdown .bell-dropdown-menu ul li a .right .close-mark .ttip {
                  position: absolute;
                  top: 20px;
                  left: 20px;
                  visibility: hidden;
                  border: 1px solid #111;
                  color: #111;
                  font-size: 11px;
                  line-height: 11px;
                  font-weight: 400;
                  background-color: #fff;
                  padding: 5px 5px; }
    #logo-nav .row .id-col {
      margin-left: 0; }
      #logo-nav .row .id-col .id-dropdown {
        height: 50px;
        display: inline-block;
        line-height: 50px;
        padding-top: 3px; }
        #logo-nav .row .id-col .id-dropdown:hover .id-dropdown-menu {
          display: block; }
        #logo-nav .row .id-col .id-dropdown .id-drop-btn {
          height: 50px;
          position: relative;
          top: -5px;
          font-weight: 600;
          color: #444; }
        #logo-nav .row .id-col .id-dropdown .id-dropdown-menu {
          top: 50px;
          left: -10px;
          width: 150px; }
          #logo-nav .row .id-col .id-dropdown .id-dropdown-menu ul li {
            line-height: 2.5em; }
            #logo-nav .row .id-col .id-dropdown .id-dropdown-menu ul li a {
              color: #0066c3;
              font-weight: 600; }
              #logo-nav .row .id-col .id-dropdown .id-dropdown-menu ul li a:hover {
                color: #C45500; }

#main-nav {
  background-color: #222e3e;
  font-size: 13px;
  border-bottom: 3px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
  height: 42px; }
  #main-nav nav {
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 7.5px; }
    #main-nav nav .home {
      background-color: unset; }
    #main-nav nav .drop-down {
      display: inline-block;
      border-right: 1px solid #666;
      position: relative;
      height: 38px;
      cursor: pointer; }
      #main-nav nav .drop-down:first-child {
        border-left: 1px solid #666; }
      #main-nav nav .drop-down:hover {
        background-color: #5F697A;
        border-bottom: 3px solid #fac876;
        box-sizing: content-box; }
        #main-nav nav .drop-down:hover .main-dropdown-menu {
          display: block; }
      #main-nav nav .drop-down:focus-within {
        background-color: #ececec;
        border-bottom: 3px solid #fac876;
        box-sizing: content-box; }
        #main-nav nav .drop-down:focus-within .drop-btn {
          color: #222e2e; }
      #main-nav nav .drop-down .drop-btn {
        color: #fff;
        line-height: 39px;
        padding-right: 15px;
        padding-left: 15px; }
        #main-nav nav .drop-down .drop-btn span {
          font-family: "Amazon Ember",Arial,sans-serif;
          font-size: 1.05em;
          font-weight: 500; }
        #main-nav nav .drop-down .drop-btn i {
          position: relative;
          top: -2px;
          padding-left: 10px; }
      #main-nav nav .drop-down .main-dropdown-menu {
        background-color: #222e3e;
        top: 41px;
        left: 0;
        min-width: 150px; }
        #main-nav nav .drop-down .main-dropdown-menu ul {
          margin-top: 0;
          margin-bottom: 0; }
          #main-nav nav .drop-down .main-dropdown-menu ul li:hover {
            background-color: #5F697A; }
          #main-nav nav .drop-down .main-dropdown-menu ul li a {
            display: block;
            padding: 10px;
            color: #fff; }
            #main-nav nav .drop-down .main-dropdown-menu ul li a:hover {
              text-decoration: none; }
          #main-nav nav .drop-down .main-dropdown-menu ul .separator {
            border-top: 1px solid #5F697A;
            box-shadow: none; }

.dropdown-menu-custom {
  min-width: 200px;
  position: absolute;
  top: 29px;
  z-index: 10;
  display: none; }

.arrow::before {
  display: inline-block;
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: -2px;
  left: 50%;
  background-color: #fff;
  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.2);
  transform: rotate(-135deg) translateX(50%); }

.circle-out {
  display: inline-block;
  position: relative;
  top: .3em;
  margin-right: .2em;
  width: 1.4em;
  height: 1.4em;
  border: 1px solid #999;
  border-radius: 50%; }

.circle-fill {
  top: 50%;
  left: 50%;
  width: 40%;
  height: 40%;
  position: absolute;
  background-color: #C55601;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  display: none; }

.selected-main .circle-fill {
  display: block; }

.home-focus {
  border-bottom: 3px solid #fac876;
  box-sizing: content-box;
  color: #222e2e;
  background-color: #ececec; }

/*---------(3.1 header-after.scss ends)-----------*/
.container-fluid {
  max-width: 1070px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-right: 0;
  padding-left: 0; }

/*---------(3.2 footer-after.scss starts)-----------*/
footer {
  overflow: hidden;
  background-color: white; }
  footer .footer-up {
    height: 75px;
    background-color: #e8e8e8;
    text-align: center;
    border: 1px solid #f3f3f3;
    font-family: "Amazon Ember", Arial, sans-serif;
    font-size: .95em; }
    footer .footer-up .comment {
      font-family: "Amazon Ember", Arial, sans-serif;
      font-size: .95em;
      font-weight: 700;
      margin-bottom: 10px; }
    footer .footer-up .sugession {
      font-family: "Amazon Ember", Arial, sans-serif;
      font-size: .95em;
      font-weight: 500; }
      footer .footer-up .sugession a:hover {
        color: #c45500; }
  footer .row {
    margin-right: auto;
    margin-left: auto;
    max-width: 1070px;
    padding: 20px 0px 50px 0px; }
    footer .row .col:last-child {
      flex-grow: 1.5;
      margin-left: auto; }
  footer ul {
    font-weight: 600; }
    footer ul li {
      font-size: 13px;
      line-height: 17px;
      margin-bottom: 5px; }
      footer ul li a:hover {
        color: #c45500; }
    footer ul li h6 {
      font-size: 14px;
      margin-bottom: 0px;
      font-weight: 700; }

/*---------(3.2 footer-after.scss ends)-----------*/
section.tabs .tabs-wrapper .sec-header .title {
  padding-bottom: 15px;
  color: #000; }
  section.tabs .tabs-wrapper .sec-header .title .topic {
    font-size: 20px; }
  section.tabs .tabs-wrapper .sec-header .title .link-tab {
    margin-top: -13px;
    margin-right: -10px; }
    section.tabs .tabs-wrapper .sec-header .title .link-tab a {
      color: #4c4c4c;
      font-weight: 600;
      font-size: 11.5px;
      border-top: none;
      border-right: none;
      padding: 5px 10px;
      display: inline-block;
      line-height: 20px;
      -moz-transition: all 200ms ease;
      -ms-transition: all 200ms ease;
      -o-transition: all 200ms ease;
      transition: all 200ms ease; }
      section.tabs .tabs-wrapper .sec-header .title .link-tab a:hover {
        background-color: #f3f3f3;
        color: #0066C0;
        text-decoration: none; }
section.tabs .tabs-wrapper .sec-header .days {
  font-size: 13px;
  color: #4c4c4c; }
  section.tabs .tabs-wrapper .sec-header .days .index .hover-box {
    font-weight: 600;
    border: 1px solid transparent;
    padding: 3px;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease; }
    section.tabs .tabs-wrapper .sec-header .days .index .hover-box:hover {
      border: 1px solid #ddd;
      background-color: #f3f3f3;
      border-radius: 3px; }
  section.tabs .tabs-wrapper .sec-header .days .index .chevron {
    padding: 10px; }
  section.tabs .tabs-wrapper .sec-header .days .index span i {
    font-size: 8px;
    color: #888; }
  section.tabs .tabs-wrapper .sec-header .days .index [class*="-model"] {
    position: relative;
    display: inline-block; }
  section.tabs .tabs-wrapper .sec-header .days .index .result-span-model {
    padding-bottom: 10px; }
    section.tabs .tabs-wrapper .sec-header .days .index .result-span-model:hover .result-span-panel {
      display: block; }
  section.tabs .tabs-wrapper .sec-header .days .index .tracking-id-model {
    padding-bottom: 10px; }
    section.tabs .tabs-wrapper .sec-header .days .index .tracking-id-model:hover .tracking-id-panel {
      display: block;
      z-index: 100; }
  section.tabs .tabs-wrapper .sec-header .days .index .range, section.tabs .tabs-wrapper .sec-header .days .index .tracking-id {
    color: #0066c0; }
    section.tabs .tabs-wrapper .sec-header .days .index .range:hover, section.tabs .tabs-wrapper .sec-header .days .index .tracking-id:hover {
      color: #C55601;
      text-decoration: underline; }
  section.tabs .tabs-wrapper .sec-header .days .update {
    color: #888;
    font-weight: 600; }
section.tabs .tabs-wrapper .sec-tab {
  margin: 0 -10px;
  background: #f3f3f3 none repeat scroll;
  height: 91px; }
  section.tabs .tabs-wrapper .sec-tab .tab {
    display: inline-block;
    min-width: 160px;
    height: 89px;
    padding: 10px 25px 5px 15px;
    cursor: pointer; }
    section.tabs .tabs-wrapper .sec-tab .tab span {
      display: block; }
    section.tabs .tabs-wrapper .sec-tab .tab .title {
      font-weight: 600;
      font-size: 14px;
      color: #0066c0; }
    section.tabs .tabs-wrapper .sec-tab .tab .amount {
      font-weight: 600;
      font-size: 20px;
      color: #555;
      padding: 5px 0 5px; }
      section.tabs .tabs-wrapper .sec-tab .tab .amount sup {
        font-weight: 600;
        font-size: 13px; }
    section.tabs .tabs-wrapper .sec-tab .tab .hide-border {
      display: none;
      position: absolute;
      top: -1px;
      left: 0;
      min-width: inherit;
      height: 5px;
      background-color: #fff; }
    section.tabs .tabs-wrapper .sec-tab .tab::hover {
      border-right: 1px solid;
      border-image: linear-gradient(top, transparent 0%, #fbd084 100%);
      -webkit-border-image: -webkit-linear-gradient(top, transparent 0%, #fbd084 100%);
      -moz-border-image: -moz-linear-gradient(top, transparent 0%, #fbd084 100%);
      -o-border-image: -o-linear-gradient(top, transparent 0%, #fbd084 100%);
      -webkit-border-image: -webkit-linear-gradient(top, transparent 0%, #fbd084 100%);
      border-image-slice: 1;
      border-image-width: 1px;
      border-image-outset: 1px;
      border-image-repeat: round;
      box-shadow: inset 0 5px 3px -5px #CCC;
      min-width: 160px;
      transition: all 200ms ease;
      -webkit-transition: all 200ms ease;
      -moz-transition: all 200ms ease;
      -ms-transition: all 200ms ease;
      -o-transition: all 200ms ease;
      background-color: #fff; }
    section.tabs .tabs-wrapper .sec-tab .tab .summary.arrow {
      top: 50px; }
section.tabs .tabs-wrapper .sec-content [class*="-tab"] {
  display: none; }

.selected {
  background-color: #fff;
  border-top: 0px;
  border-image: linear-gradient(top, transparent 0%, #fbd084 100%);
  -webkit-border-image: -webkit-linear-gradient(top, transparent 0%, #fbd084 100%);
  -moz-border-image: -moz-linear-gradient(top, transparent 0%, #fbd084 100%);
  -o-border-image: -o-linear-gradient(top, transparent 0%, #fbd084 100%);
  border-image-slice: 1;
  border-image-width: 1px;
  border-image-outset: 1px;
  border-image-repeat: round;
  position: relative;
  box-shadow: 0 5px 5px -5px #DDD;
  left: -1px;
  color: #000; }

.tab-border-hover {
  border-right: 1px solid;
  border-image: linear-gradient(top, transparent 0%, #fbd084 100%);
  -webkit-border-image: -webkit-linear-gradient(top, transparent 0%, #fbd084 100%);
  -moz-border-image: -moz-linear-gradient(top, transparent 0%, #fbd084 100%);
  -o-border-image: -o-linear-gradient(top, transparent 0%, #fbd084 100%);
  -webkit-border-image: -webkit-linear-gradient(top, transparent 0%, #fbd084 100%);
  border-image-slice: 1;
  border-image-width: 1px;
  border-image-outset: 1px;
  border-image-repeat: round;
  box-shadow: inset 0 5px 3px -5px #CCC;
  min-width: 160px;
  transition: all 200ms ease;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  background-color: #fff; }

.tab-arrow::after {
  display: inline-block;
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  box-shadow: 1px 1px 0px 0px #fbd084;
  transform: rotate(45deg); }

.com-b-l-n {
  border-left: none; }

.summary-tab {
  position: relative; }
  .summary-tab #chart-popup {
    pointer-events: none;
    position: absolute;
    top: 50px;
    left: 200px;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 0px;
    padding: 10px;
    background-color: #444c55;
    font-size: 14px;
    color: #fafafa;
    z-index: 2;
    overflow: hidden;
    display: none; }
    .summary-tab #chart-popup .title {
      font-weight: 700; }
    .summary-tab #chart-popup ul li .disc {
      display: inline-block;
      position: relative;
      top: -0.05em;
      width: 7px;
      height: 7px;
      border: 1px solid transparent;
      border-radius: 50%; }
    .summary-tab #chart-popup ul li:nth-child(1) .disc {
      background-color: #58e2c2; }
    .summary-tab #chart-popup ul li:nth-child(2) .disc {
      background-color: #71a8e6; }
    .summary-tab #chart-popup ul li:nth-child(3) .disc {
      background-color: yellow; }

.commissions-tab {
  position: relative; }
  .commissions-tab #chart-popup {
    pointer-events: none;
    position: absolute;
    top: 50px;
    left: 200px;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 0px;
    padding: 10px;
    background-color: #444c55;
    font-size: 14px;
    color: #fafafa;
    z-index: 2;
    overflow: hidden;
    display: none; }
    .commissions-tab #chart-popup .title {
      font-weight: 700; }
    .commissions-tab #chart-popup ul li .disc {
      display: inline-block;
      position: relative;
      top: -0.05em;
      width: 7px;
      height: 7px;
      border: 1px solid transparent;
      border-radius: 50%; }
    .commissions-tab #chart-popup ul li:nth-child(1) .disc {
      background-color: #58e2c2; }
    .commissions-tab #chart-popup ul li:nth-child(2) .disc {
      background-color: #d05254; }
    .commissions-tab #chart-popup ul li:nth-child(3) .disc {
      background-color: yellow; }

.bounties-tab {
  position: relative; }
  .bounties-tab #chart-popup {
    pointer-events: none;
    position: absolute;
    top: 50px;
    left: 200px;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 0px;
    padding: 10px;
    background-color: #444c55;
    font-size: 14px;
    color: #fafafa;
    z-index: 2;
    overflow: hidden;
    display: none; }
    .bounties-tab #chart-popup .title {
      font-weight: 700; }
    .bounties-tab #chart-popup ul li .disc {
      display: inline-block;
      position: relative;
      top: -0.05em;
      width: 7px;
      height: 7px;
      border: 1px solid transparent;
      border-radius: 50%; }
    .bounties-tab #chart-popup ul li:nth-child(1) .disc {
      background-color: #58e2c2; }
    .bounties-tab #chart-popup ul li:nth-child(2) .disc {
      background-color: #71a8e6; }
    .bounties-tab #chart-popup ul li:nth-child(3) .disc {
      background-color: yellow; }

.result-span-panel {
  position: absolute;
  top: 31px;
  left: -15px;
  min-width: 340px;
  box-shadow: 0px 0px 10px 7px #f3f3f3;
  z-index: 2;
  display: none; }
  .result-span-panel .separator {
    margin-left: -10px;
    margin-right: -10px; }
  .result-span-panel .title {
    padding-bottom: 0px;
    display: flex;
    justify-content: space-between; }
    .result-span-panel .title .close-btn {
      padding: 1px 9px 2px 10px;
      position: relative;
      top: -12px;
      left: 13px;
      display: inline-block;
      width: 25px;
      height: 25px;
      text-align: center;
      font-weight: 700;
      font-size: 16px; }
      .result-span-panel .title .close-btn span {
        position: relative;
        left: -3px; }
  .result-span-panel ul {
    padding: 10px 0; }
    .result-span-panel ul li {
      line-height: 2em; }
      .result-span-panel ul li span.day {
        color: #0066c0;
        font-weight: 600; }
      .result-span-panel ul li span.date-range, .result-span-panel ul li span.paren {
        color: #777;
        font-weight: 600; }
      .result-span-panel ul li .date-preset {
        position: relative;
        background: #e7e9ec;
        border-radius: 3px;
        border-color: #ADB1B8 #A2A6AC #8D9096;
        border-style: solid;
        border-width: 1px;
        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
        padding: 0 10px; }
        .result-span-panel ul li .date-preset .preset-dropdown-menu {
          position: absolute;
          top: 0;
          left: 0;
          display: none; }
          .result-span-panel ul li .date-preset .preset-dropdown-menu ul {
            border: 1px solid #ddd;
            box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.05);
            background-color: #fff;
            white-space: nowrap;
            padding: 5px 0; }
            .result-span-panel ul li .date-preset .preset-dropdown-menu ul .preset-li {
              padding: 0 10px;
              border: 1px solid transparent;
              line-height: 1.7em; }
              .result-span-panel ul li .date-preset .preset-dropdown-menu ul .preset-li:hover {
                background-color: #f3f3f3;
                border: 1px solid #a3a3a3; }
              .result-span-panel ul li .date-preset .preset-dropdown-menu ul .preset-li .preset-day {
                color: #222;
                font-weight: 600; }
              .result-span-panel ul li .date-preset .preset-dropdown-menu ul .preset-li .preset-date-range, .result-span-panel ul li .date-preset .preset-dropdown-menu ul .preset-li .preset-paren {
                color: #777;
                font-weight: 600; }
            .result-span-panel ul li .date-preset .preset-dropdown-menu ul .preset-li.selectd {
              background-color: #f3f3f3;
              border: 1px solid #a3a3a3; }
  .result-span-panel .commands {
    padding: 20px 0; }
    .result-span-panel .commands .cancel-btn {
      color: #0066c0;
      margin-right: 20px; }
    .result-span-panel .commands .apply-btn {
      background: #f3d07b;
      border: 1px solid;
      border-color: #ADB1B8 #A2A6AC #8D9096;
      border-radius: 3px;
      cursor: pointer;
      font-size: 13px;
      color: #111;
      padding: 5px 10px; }

.selectd .circle-fill {
  display: block; }

.result-span-panel li:hover .circle-fill {
  display: block; }

.close-btn-border {
  border: 1px solid #f3d07b;
  box-shadow: 0px 0px 5px 0px #f3d07b; }

.tracking-id-panel {
  position: absolute;
  top: 31px;
  left: -120px;
  min-width: 300px;
  box-shadow: 0px 0px 10px 7px #f3f3f3;
  z-index: 2;
  display: none; }
  .tracking-id-panel .search {
    padding-left: 5px;
    padding-bottom: 10px; }
    .tracking-id-panel .search .search-field {
      background-color: #fff;
      height: 31px;
      padding: 3px 7px;
      line-height: normal;
      border: 1px solid #a6a6a6;
      border-top-color: #949494;
      border-radius: 3px;
      box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 0 rgba(0, 0, 0, 0.07) inset;
      outline: 0;
      -webkit-transition: all .1s linear;
      transition: all .1s linear;
      color: #111;
      width: 175px !important; }
    .tracking-id-panel .search .search-icon {
      background: #e7e9ec;
      border-radius: 3px;
      border-color: #ADB1B8 #A2A6AC #8D9096;
      border-style: solid;
      border-width: 1px;
      cursor: pointer;
      display: inline-block;
      padding: 10px 10px 7px 10px;
      margin-left: 5px;
      font-size: 12px;
      color: #777; }
  .tracking-id-panel .separator {
    padding-left: 5px; }
  .tracking-id-panel .scroll {
    margin-bottom: 5px; }
    .tracking-id-panel .scroll .selectedStall {
      display: none; }
    .tracking-id-panel .scroll ul {
      max-height: 250px;
      overflow-y: scroll; }
      .tracking-id-panel .scroll ul li {
        padding-left: 8px;
        line-height: 2em;
        margin: 2px 0;
        border: 1px solid transparent; }
        .tracking-id-panel .scroll ul li:hover {
          border: 1px solid #999;
          box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.05);
          background-color: #f0f2f5; }
        .tracking-id-panel .scroll ul li .rect-out {
          display: inline-block;
          width: 15px;
          height: 15px;
          border: 1px solid;
          border-radius: 3px;
          vertical-align: middle;
          margin-right: 2px;
          position: relative;
          background-color: #f8d57b; }
        .tracking-id-panel .scroll ul li .rect-fill {
          display: inline-block;
          width: 8px;
          height: 4px;
          /*border: 1px solid;*/
          border-bottom: 1px solid;
          border-left: 1px solid;
          border-color: #111;
          position: absolute;
          top: 3px;
          left: 2px;
          transform: rotate(-45deg); }
  .tracking-id-panel .commands {
    padding-left: 5px; }
    .tracking-id-panel .commands .cancel-btn {
      background: #e7e9ec;
      border-radius: 3px;
      border-color: #ADB1B8 #A2A6AC #8D9096;
      border-style: solid;
      border-width: 1px;
      cursor: pointer;
      display: inline-block;
      font-size: 11px;
      font-weight: 600;
      color: #444;
      padding: 0 5px 3px;
      margin-right: 5px; }
    .tracking-id-panel .commands .apply-btn {
      background: #f3d07b;
      border: 1px solid;
      border-color: #ADB1B8 #A2A6AC #8D9096;
      border-radius: 3px;
      cursor: pointer;
      font-size: 11px;
      font-weight: 600;
      color: #111;
      padding: 0 5px 3px;
      display: inline-block; }
  .tracking-id-panel .note {
    padding-left: 5px;
    margin-top: 10px;
    font-size: 12px;
    line-height: 1.5em;
    color: #777; }

.boun-bottom-info {
  margin: 0 -10px -10px -10px;
  border-top: 1px solid #DDD; }
  .boun-bottom-info .boun-chart-bottom .box {
    padding: 10px; }
    .boun-bottom-info .boun-chart-bottom .box:not(:first-child) {
      border-left: 1px solid #ddd; }
    .boun-bottom-info .boun-chart-bottom .box:not(:last-child) {
      min-width: 245px; }
    .boun-bottom-info .boun-chart-bottom .box .title {
      font-weight: 700;
      padding-bottom: 20px;
      color: #333; }
    .boun-bottom-info .boun-chart-bottom .box .amount {
      font-weight: 700; }
  .boun-bottom-info .boun-chart-bottom .total-earnings .title {
    font-weight: 700; }
  .boun-bottom-info .boun-chart-bottom .total-earnings .note i {
    font-weight: 700;
    color: #777; }

.boun-bottom-tbl-wall {
  border: 2px solid #f3f3f3;
  margin: -12px;
  margin-top: 10px;
  margin-bottom: -13px;
  background-color: #f3f3f3; }
  .boun-bottom-tbl-wall .boun-bottom-fix {
    margin-top: 15px; }
    .boun-bottom-tbl-wall .boun-bottom-fix .boun-bottom-grid {
      position: relative; }
      .boun-bottom-tbl-wall .boun-bottom-fix .boun-bottom-grid .grid-names {
        position: absolute;
        top: 25px;
        left: 11px; }
        .boun-bottom-tbl-wall .boun-bottom-fix .boun-bottom-grid .grid-names .name {
          line-height: 30px;
          font-weight: 600; }
          .boun-bottom-tbl-wall .boun-bottom-fix .boun-bottom-grid .grid-names .name .tag {
            font-weight: 700; }
        .boun-bottom-tbl-wall .boun-bottom-fix .boun-bottom-grid .grid-names .hover-bg-clr {
          background-color: #fff; }
      .boun-bottom-tbl-wall .boun-bottom-fix .boun-bottom-grid .showing-table {
        display: block; }
      .boun-bottom-tbl-wall .boun-bottom-fix .boun-bottom-grid .main-part {
        padding-top: 20px; }
        .boun-bottom-tbl-wall .boun-bottom-fix .boun-bottom-grid .main-part .header .group-by {
          text-align: right; }
          .boun-bottom-tbl-wall .boun-bottom-fix .boun-bottom-grid .main-part .header .group-by .new span {
            color: #c45500;
            font-weight: 700;
            font-size: 12px; }
          .boun-bottom-tbl-wall .boun-bottom-fix .boun-bottom-grid .main-part .header .group-by .tag {
            color: #333;
            font-weight: 700;
            font-size: 12px; }
          .boun-bottom-tbl-wall .boun-bottom-fix .boun-bottom-grid .main-part .header .group-by .tracking-id {
            border: 1px solid #a3a3a3;
            background-color: #f3f3f3;
            border-radius: 3px;
            padding: 5px 10px;
            position: relative;
            cursor: pointer; }
            .boun-bottom-tbl-wall .boun-bottom-fix .boun-bottom-grid .main-part .header .group-by .tracking-id:hover .dd-box {
              display: block; }
            .boun-bottom-tbl-wall .boun-bottom-fix .boun-bottom-grid .main-part .header .group-by .tracking-id i {
              color: #737373;
              padding-left: 10px;
              font-size: 12px; }
            .boun-bottom-tbl-wall .boun-bottom-fix .boun-bottom-grid .main-part .header .group-by .tracking-id .dd-box {
              display: none;
              width: 100%;
              position: absolute;
              top: 0px;
              left: 0px;
              border: 1px solid #ddd;
              box-shadow: 0 0 2px 2px #f3f3f3;
              background-color: #fff;
              padding: 5px 0;
              z-index: 2; }
              .boun-bottom-tbl-wall .boun-bottom-fix .boun-bottom-grid .main-part .header .group-by .tracking-id .dd-box > span {
                display: block;
                border: 1px solid transparent;
                text-align: left;
                padding-left: 10px;
                font-weight: 600; }
                .boun-bottom-tbl-wall .boun-bottom-fix .boun-bottom-grid .main-part .header .group-by .tracking-id .dd-box > span:hover {
                  border: 1px solid #a3a3a3;
                  background-color: #f3f3f3; }
              .boun-bottom-tbl-wall .boun-bottom-fix .boun-bottom-grid .main-part .header .group-by .tracking-id .dd-box .dd-selected {
                background-color: #f6f6f6;
                border: 1px solid #a3a3a3; }
        .boun-bottom-tbl-wall .boun-bottom-fix .boun-bottom-grid .main-part .tbl {
          padding-top: 25px;
          position: relative; }
          .boun-bottom-tbl-wall .boun-bottom-fix .boun-bottom-grid .main-part .tbl .bottom-glasspane {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.5);
            display: block; }
          .boun-bottom-tbl-wall .boun-bottom-fix .boun-bottom-grid .main-part .tbl .table-loader {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: -50%, -50%;
            display: block; }
          .boun-bottom-tbl-wall .boun-bottom-fix .boun-bottom-grid .main-part .tbl table {
            width: 100%; }
            .boun-bottom-tbl-wall .boun-bottom-fix .boun-bottom-grid .main-part .tbl table tr th {
              vertical-align: top;
              background-color: #f3f3f3;
              color: #111;
              font-weight: 600;
              font-size: 12px;
              width: 13%;
              padding: 5px 0 5px 10px;
              border-left: 1px solid #d0d0d0; }
              .boun-bottom-tbl-wall .boun-bottom-fix .boun-bottom-grid .main-part .tbl table tr th:first-child {
                width: 35%; }
              .boun-bottom-tbl-wall .boun-bottom-fix .boun-bottom-grid .main-part .tbl table tr th:last-child {
                border-right: 1px solid #d0d0d0; }
              .boun-bottom-tbl-wall .boun-bottom-fix .boun-bottom-grid .main-part .tbl table tr th span {
                width: 80%;
                display: inline-block; }
              .boun-bottom-tbl-wall .boun-bottom-fix .boun-bottom-grid .main-part .tbl table tr th i {
                float: right;
                color: #999;
                padding-right: 10px;
                position: relative;
                top: 3px; }
            .boun-bottom-tbl-wall .boun-bottom-fix .boun-bottom-grid .main-part .tbl table tr {
              border-top: 1px solid #d0d0d0; }
              .boun-bottom-tbl-wall .boun-bottom-fix .boun-bottom-grid .main-part .tbl table tr:not(:first-child) {
                border-top: 1px solid #d0d0d0; }
              .boun-bottom-tbl-wall .boun-bottom-fix .boun-bottom-grid .main-part .tbl table tr:hover {
                background-color: #f9f9f9; }
              .boun-bottom-tbl-wall .boun-bottom-fix .boun-bottom-grid .main-part .tbl table tr:last-child {
                border-bottom: 1px solid #d0d0d0; }
              .boun-bottom-tbl-wall .boun-bottom-fix .boun-bottom-grid .main-part .tbl table tr td {
                padding-top: 5px;
                padding-bottom: 5px;
                padding-left: 10px;
                border-left: 1px solid #d0d0d0;
                font-size: 12px;
                font-weight: 600; }
                .boun-bottom-tbl-wall .boun-bottom-fix .boun-bottom-grid .main-part .tbl table tr td:last-child {
                  border-right: 1px solid #d0d0d0; }
        .boun-bottom-tbl-wall .boun-bottom-fix .boun-bottom-grid .main-part .footer {
          margin-top: 25px; }
          .boun-bottom-tbl-wall .boun-bottom-fix .boun-bottom-grid .main-part .footer .range-controls .showing {
            font-weight: 600;
            font-size: 12px; }
            .boun-bottom-tbl-wall .boun-bottom-fix .boun-bottom-grid .main-part .footer .range-controls .showing span.range {
              font-weight: 700; }
          .boun-bottom-tbl-wall .boun-bottom-fix .boun-bottom-grid .main-part .footer .range-controls .results-per-page .btn {
            border: 1px solid #a3a3a3;
            background-color: #f3f3f3;
            margin-left: 50px;
            margin-right: 5px;
            border-radius: 3px;
            position: relative; }
            .boun-bottom-tbl-wall .boun-bottom-fix .boun-bottom-grid .main-part .footer .range-controls .results-per-page .btn:hover .dd-box {
              display: block; }
            .boun-bottom-tbl-wall .boun-bottom-fix .boun-bottom-grid .main-part .footer .range-controls .results-per-page .btn .amount {
              font-weight: 600; }
            .boun-bottom-tbl-wall .boun-bottom-fix .boun-bottom-grid .main-part .footer .range-controls .results-per-page .btn i {
              color: #555;
              padding-left: 10px;
              font-size: 12px; }
            .boun-bottom-tbl-wall .boun-bottom-fix .boun-bottom-grid .main-part .footer .range-controls .results-per-page .btn .dd-box {
              display: none;
              width: 100%;
              position: absolute;
              top: 0px;
              left: 0px;
              border: 1px solid #ddd;
              box-shadow: 0 0 2px 2px #f3f3f3;
              background-color: #fff;
              padding: 5px 0; }
              .boun-bottom-tbl-wall .boun-bottom-fix .boun-bottom-grid .main-part .footer .range-controls .results-per-page .btn .dd-box:hover {
                display: block; }
              .boun-bottom-tbl-wall .boun-bottom-fix .boun-bottom-grid .main-part .footer .range-controls .results-per-page .btn .dd-box > span {
                display: block;
                border: 1px solid transparent;
                text-align: left;
                padding-left: 10px;
                font-weight: 600; }
                .boun-bottom-tbl-wall .boun-bottom-fix .boun-bottom-grid .main-part .footer .range-controls .results-per-page .btn .dd-box > span:hover {
                  border: 1px solid #a3a3a3;
                  background-color: #f3f3f3; }
              .boun-bottom-tbl-wall .boun-bottom-fix .boun-bottom-grid .main-part .footer .range-controls .results-per-page .btn .dd-box .dd-selected {
                background-color: #f6f6f6;
                border: 1px solid #a3a3a3; }
          .boun-bottom-tbl-wall .boun-bottom-fix .boun-bottom-grid .main-part .footer .range-controls .results-per-page span {
            position: relative; }
          .boun-bottom-tbl-wall .boun-bottom-fix .boun-bottom-grid .main-part .footer .btn-controls .prev {
            border: 1px solid #e3e3e3;
            background-color: #f5f5f5;
            padding: 5px 10px;
            margin-right: 10px;
            border-radius: 3px; }
            .boun-bottom-tbl-wall .boun-bottom-fix .boun-bottom-grid .main-part .footer .btn-controls .prev span {
              padding-right: 10px; }
          .boun-bottom-tbl-wall .boun-bottom-fix .boun-bottom-grid .main-part .footer .btn-controls .next {
            border: 1px solid #e3e3e3;
            background-color: #f5f5f5;
            padding: 5px 10px;
            border-radius: 3px; }
            .boun-bottom-tbl-wall .boun-bottom-fix .boun-bottom-grid .main-part .footer .btn-controls .next span {
              padding-left: 10px; }

.boun-bottom-suggest {
  border: 1px solid #ddd;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.05);
  margin-top: 15px; }
  .boun-bottom-suggest .header {
    font-size: 14px;
    font-weight: 700;
    color: #c45500;
    padding-top: 0px;
    padding-bottom: 5px; }
  .boun-bottom-suggest .separator {
    border-top: 1px solid #ddd;
    margin-left: -11px;
    margin-right: -11px;
    padding-bottom: 10px; }
  .boun-bottom-suggest .main .image img {
    max-width: 190px;
    max-height: 160px;
    border: 1px solid transparent;
    transition: all 200ms ease;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease; }
    .boun-bottom-suggest .main .image img:hover {
      border: 1px solid #fbd084;
      box-shadow: 0px 1px 3px 3px rgba(0, 0, 0, 0.05); }

.dis-none {
  display: none; }

.com-bottom-info {
  margin: 0 -10px -10px -10px;
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD; }
  .com-bottom-info .com-chart-bottom .box {
    padding: 10px; }
    .com-bottom-info .com-chart-bottom .box:not(:first-child) {
      border-left: 1px solid #ddd; }
    .com-bottom-info .com-chart-bottom .box .title {
      font-weight: 600;
      padding-bottom: 30px;
      color: #333; }
    .com-bottom-info .com-chart-bottom .box .amount {
      font-weight: 700; }
    .com-bottom-info .com-chart-bottom .box:last-child {
      position: relative; }
      .com-bottom-info .com-chart-bottom .box:last-child .note {
        position: absolute;
        top: 30px;
        left: 10px;
        color: #555;
        font-weight: 600;
        font-size: 12px; }
  .com-bottom-info .com-chart-bottom .bonus .title span {
    position: relative;
    top: -2px;
    color: #c45500;
    font-size: 11px;
    font-weight: 700; }
  .com-bottom-info .com-chart-bottom .total-earnings .title {
    font-weight: 700; }
  .com-bottom-info .com-chart-bottom .total-earnings .note i {
    font-weight: 700;
    color: #777; }

.com-bottom-fix {
  border: 2px solid #f3f3f3;
  margin: -12px;
  margin-top: 10px;
  margin-bottom: -13px;
  background-color: #f3f3f3; }

.com-bottom-grid {
  position: relative;
  margin-top: -1px; }
  .com-bottom-grid .grid-names {
    position: absolute;
    top: 30px;
    left: 11px;
    border: 1px solid #a3a3a3;
    background-color: #f3f3f3;
    border-radius: 3px; }
    .com-bottom-grid .grid-names .name {
      display: inline-block;
      height: 30px;
      line-height: 30px;
      padding: 0px 10px;
      color: #0066c0;
      font-weight: 600;
      font-size: 14px;
      cursor: pointer; }
      .com-bottom-grid .grid-names .name:not(:last-child) {
        border-right: 1px solid #a3a3a3; }
      .com-bottom-grid .grid-names .name:hover {
        background-color: #fff; }
    .com-bottom-grid .grid-names .arrow-after::after {
      background-color: #fff;
      box-shadow: 1px 1px 0px 0px #777; }
    .com-bottom-grid .grid-names .hover-bg-clr {
      background-color: #fff;
      color: #111; }
  .com-bottom-grid .grid-ordered-items {
    display: none; }
  .com-bottom-grid .grid-earnings {
    display: none; }
  .com-bottom-grid .grid-link-perform {
    display: none; }
  .com-bottom-grid .showing-grid {
    display: block; }
  .com-bottom-grid .main-part {
    padding-top: 20px;
    margin-top: 15px; }
    .com-bottom-grid .main-part .header .group-by {
      text-align: right; }
      .com-bottom-grid .main-part .header .group-by .new span {
        color: #c45500;
        font-weight: 700;
        font-size: 12px; }
      .com-bottom-grid .main-part .header .group-by .tag {
        color: #333;
        font-weight: 700;
        font-size: 12px; }
      .com-bottom-grid .main-part .header .group-by .tracking-id {
        border: 1px solid #a3a3a3;
        background-color: #f3f3f3;
        border-radius: 3px;
        padding: 5px 10px;
        position: relative;
        cursor: pointer; }
        .com-bottom-grid .main-part .header .group-by .tracking-id:hover .dd-box {
          display: block; }
        .com-bottom-grid .main-part .header .group-by .tracking-id i {
          color: #737373;
          padding-left: 10px;
          font-size: 12px; }
        .com-bottom-grid .main-part .header .group-by .tracking-id .dd-box {
          display: none;
          width: 100%;
          position: absolute;
          top: 0px;
          left: 0px;
          border: 1px solid #ddd;
          box-shadow: 0 0 2px 2px #f3f3f3;
          background-color: #fff;
          padding: 5px 0;
          z-index: 2; }
          .com-bottom-grid .main-part .header .group-by .tracking-id .dd-box > span {
            display: block;
            border: 1px solid transparent;
            text-align: left;
            padding-left: 10px;
            font-weight: 600; }
            .com-bottom-grid .main-part .header .group-by .tracking-id .dd-box > span:hover {
              border: 1px solid #a3a3a3;
              background-color: #f3f3f3; }
          .com-bottom-grid .main-part .header .group-by .tracking-id .dd-box .dd-selected {
            background-color: #f6f6f6;
            border: 1px solid #a3a3a3; }
    .com-bottom-grid .main-part .tbl {
      margin-top: 25px;
      position: relative; }
      .com-bottom-grid .main-part .tbl .bottom-glasspane {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.5);
        display: block; }
      .com-bottom-grid .main-part .tbl .table-loader {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: -50%, -50%;
        display: block; }
      .com-bottom-grid .main-part .tbl table {
        width: 100%; }
        .com-bottom-grid .main-part .tbl table tr th {
          vertical-align: top;
          background-color: #f3f3f3;
          color: #111;
          font-weight: 600;
          font-size: 12px;
          width: 13%;
          padding: 5px 0 5px 10px;
          border-left: 1px solid #d0d0d0; }
          .com-bottom-grid .main-part .tbl table tr th:first-child {
            width: 35%; }
          .com-bottom-grid .main-part .tbl table tr th:last-child {
            border-right: 1px solid #d0d0d0; }
          .com-bottom-grid .main-part .tbl table tr th span {
            width: 80%;
            display: inline-block; }
          .com-bottom-grid .main-part .tbl table tr th i {
            float: right;
            color: #999;
            padding-right: 10px;
            position: relative;
            top: 3px; }
        .com-bottom-grid .main-part .tbl table tr {
          border-top: 1px solid #d0d0d0; }
          .com-bottom-grid .main-part .tbl table tr:not(:first-child) {
            border-top: 1px solid #d0d0d0; }
          .com-bottom-grid .main-part .tbl table tr:hover {
            background-color: #f9f9f9; }
          .com-bottom-grid .main-part .tbl table tr:last-child {
            border-bottom: 1px solid #d0d0d0; }
          .com-bottom-grid .main-part .tbl table tr td {
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 10px;
            border-left: 1px solid #d0d0d0;
            font-size: 12px;
            font-weight: 600; }
            .com-bottom-grid .main-part .tbl table tr td:last-child {
              border-right: 1px solid #d0d0d0; }
    .com-bottom-grid .main-part .footer {
      margin-top: 25px; }
      .com-bottom-grid .main-part .footer .range-controls .showing {
        font-weight: 600;
        font-size: 12px; }
        .com-bottom-grid .main-part .footer .range-controls .showing span.range {
          font-weight: 700; }
      .com-bottom-grid .main-part .footer .range-controls .results-per-page .btn {
        border: 1px solid #a3a3a3;
        background-color: #f3f3f3;
        margin-left: 50px;
        margin-right: 5px;
        border-radius: 3px;
        position: relative; }
        .com-bottom-grid .main-part .footer .range-controls .results-per-page .btn:hover .dd-box {
          display: block; }
        .com-bottom-grid .main-part .footer .range-controls .results-per-page .btn .amount {
          font-weight: 600; }
        .com-bottom-grid .main-part .footer .range-controls .results-per-page .btn i {
          color: #555;
          padding-left: 10px;
          font-size: 12px; }
        .com-bottom-grid .main-part .footer .range-controls .results-per-page .btn .dd-box {
          display: none;
          width: 100%;
          position: absolute;
          top: 0px;
          left: 0px;
          border: 1px solid #ddd;
          box-shadow: 0 0 2px 2px #f3f3f3;
          background-color: #fff;
          padding: 5px 0; }
          .com-bottom-grid .main-part .footer .range-controls .results-per-page .btn .dd-box:hover {
            display: block; }
          .com-bottom-grid .main-part .footer .range-controls .results-per-page .btn .dd-box > span {
            display: block;
            border: 1px solid transparent;
            text-align: left;
            padding-left: 10px;
            font-weight: 600; }
            .com-bottom-grid .main-part .footer .range-controls .results-per-page .btn .dd-box > span:hover {
              border: 1px solid #a3a3a3;
              background-color: #f3f3f3; }
          .com-bottom-grid .main-part .footer .range-controls .results-per-page .btn .dd-box .dd-selected {
            background-color: #f6f6f6;
            border: 1px solid #a3a3a3; }
      .com-bottom-grid .main-part .footer .range-controls .results-per-page span {
        position: relative; }
      .com-bottom-grid .main-part .footer .btn-controls .prev {
        border: 1px solid #e3e3e3;
        background-color: #f5f5f5;
        padding: 5px 10px;
        margin-right: 10px;
        border-radius: 3px; }
        .com-bottom-grid .main-part .footer .btn-controls .prev span {
          padding-right: 10px; }
      .com-bottom-grid .main-part .footer .btn-controls .next {
        border: 1px solid #e3e3e3;
        background-color: #f5f5f5;
        padding: 5px 10px;
        border-radius: 3px; }
        .com-bottom-grid .main-part .footer .btn-controls .next span {
          padding-left: 10px; }
  .com-bottom-grid .notes .header {
    font-weight: 700;
    padding-bottom: 10px;
    color: #444; }
  .com-bottom-grid .notes .grids {
    padding-bottom: 15px; }
    .com-bottom-grid .notes .grids table tr:first-child {
      padding-right: 20px;
      border-bottom: none; }
    .com-bottom-grid .notes .grids table tr:last-child td {
      padding-bottom: 0px;
      border-bottom: none; }
    .com-bottom-grid .notes .grids table tr td {
      vertical-align: top;
      color: #666;
      font-weight: 600;
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #e3e3e3; }
      .com-bottom-grid .notes .grids table tr td:nth-of-type(2) {
        width: 20%; }
      .com-bottom-grid .notes .grids table tr td:first-child {
        padding-right: 20px;
        border-bottom: none; }
      .com-bottom-grid .notes .grids table tr td:last-child {
        padding-right: 20px; }
      .com-bottom-grid .notes .grids table tr td a {
        color: #0066c3; }
        .com-bottom-grid .notes .grids table tr td a:hover {
          color: #c45500; }

.dis-none {
  display: none; }

.sum-bottom-info-wrapper {
  margin: 0 -12px -12px -12px;
  background-color: #f3f3f3;
  border: 1px solid #f3f3f3;
  border-top: 1px solid #DDD; }
  .sum-bottom-info-wrapper .sum-bottom-info {
    margin-top: 15px; }
    .sum-bottom-info-wrapper .sum-bottom-info .left-part {
      flex-basis: 50%;
      margin-right: 10px; }
      .sum-bottom-info-wrapper .sum-bottom-info .left-part .com-sum .header {
        font-size: 14px;
        font-weight: 700;
        color: #c45500;
        padding-top: 10px;
        padding-bottom: 15px; }
      .sum-bottom-info-wrapper .sum-bottom-info .left-part .com-sum .main > * {
        flex-basis: 100%;
        flex-grow: 1;
        flex-shrink: 1; }
      .sum-bottom-info-wrapper .sum-bottom-info .left-part .com-sum .main .box {
        border: 1px solid #e0e0e0;
        border-right: none;
        padding: 10px; }
        .sum-bottom-info-wrapper .sum-bottom-info .left-part .com-sum .main .box:first-child {
          border-left: none;
          margin-left: -11px; }
        .sum-bottom-info-wrapper .sum-bottom-info .left-part .com-sum .main .box:last-child {
          border-right: none;
          margin-right: -11px; }
      .sum-bottom-info-wrapper .sum-bottom-info .left-part .com-sum .main .title {
        padding-bottom: 30px;
        font-size: 13px;
        font-weight: 600;
        color: #666; }
      .sum-bottom-info-wrapper .sum-bottom-info .left-part .com-sum .main .amount {
        font-size: 13px;
        font-weight: 600;
        color: #444; }
      .sum-bottom-info-wrapper .sum-bottom-info .left-part .com-sum .footer {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 5px; }
        .sum-bottom-info-wrapper .sum-bottom-info .left-part .com-sum .footer .total {
          padding-left: 30px;
          font-size: 18px;
          font-weight: 700; }
          .sum-bottom-info-wrapper .sum-bottom-info .left-part .com-sum .footer .total .tag {
            font-size: 12px;
            color: #777; }
        .sum-bottom-info-wrapper .sum-bottom-info .left-part .com-sum .footer .amount {
          float: right;
          padding-right: 15px;
          font-size: 17px;
          font-weight: 700; }
      .sum-bottom-info-wrapper .sum-bottom-info .left-part .boun-sum {
        font-size: 14px;
        font-weight: 700;
        color: #c45500;
        padding-top: 10px;
        padding-bottom: 15px; }
        .sum-bottom-info-wrapper .sum-bottom-info .left-part .boun-sum .header {
          font-size: 14px;
          font-weight: 700;
          color: #c45500;
          padding-top: 10px;
          padding-bottom: 15px; }
        .sum-bottom-info-wrapper .sum-bottom-info .left-part .boun-sum .main {
          border-top: 1px solid #e0e0e0;
          margin-left: -11px;
          margin-right: -11px; }
          .sum-bottom-info-wrapper .sum-bottom-info .left-part .boun-sum .main .box {
            padding: 10px; }
          .sum-bottom-info-wrapper .sum-bottom-info .left-part .boun-sum .main .title {
            padding-bottom: 30px;
            font-size: 13px;
            font-weight: 600;
            color: #888; }
          .sum-bottom-info-wrapper .sum-bottom-info .left-part .boun-sum .main .amount {
            font-size: 13px;
            font-weight: 600;
            color: #444; }
          .sum-bottom-info-wrapper .sum-bottom-info .left-part .boun-sum .main .total-refs {
            flex-basis: 70%;
            border-right: 1px solid #e0e0e0; }
          .sum-bottom-info-wrapper .sum-bottom-info .left-part .boun-sum .main .total-earnings {
            flex-basis: 30%; }
            .sum-bottom-info-wrapper .sum-bottom-info .left-part .boun-sum .main .total-earnings .title {
              color: #444; }
            .sum-bottom-info-wrapper .sum-bottom-info .left-part .boun-sum .main .total-earnings .amount {
              color: #009900;
              font-size: 1.2em; }
      .sum-bottom-info-wrapper .sum-bottom-info .left-part .ear-sum .main .title {
        font-size: 14px;
        font-weight: 700;
        color: #c45500;
        flex-basis: 70%;
        border-right: 1px solid #e0e0e0;
        padding: 10px; }
        .sum-bottom-info-wrapper .sum-bottom-info .left-part .ear-sum .main .title i {
          color: #666; }
      .sum-bottom-info-wrapper .sum-bottom-info .left-part .ear-sum .main .amount {
        flex-basis: 30%;
        font-size: 17px;
        font-weight: 700;
        padding: 10px; }
    .sum-bottom-info-wrapper .sum-bottom-info .right-part {
      flex-basis: 50%;
      margin-left: 10px; }
      .sum-bottom-info-wrapper .sum-bottom-info .right-part .shopping-ads .header {
        padding-top: 10px;
        padding-bottom: 15px; }
        .sum-bottom-info-wrapper .sum-bottom-info .right-part .shopping-ads .header .ads .title {
          font-size: 14px;
          font-weight: 700;
          color: #c45500; }
        .sum-bottom-info-wrapper .sum-bottom-info .right-part .shopping-ads .header .ads .tag {
          font-size: 11px;
          font-weight: 600;
          color: #666; }
        .sum-bottom-info-wrapper .sum-bottom-info .right-part .shopping-ads .header .detail {
          text-align: right; }
          .sum-bottom-info-wrapper .sum-bottom-info .right-part .shopping-ads .header .detail .title a {
            text-decoration: none;
            font-weight: 600; }
            .sum-bottom-info-wrapper .sum-bottom-info .right-part .shopping-ads .header .detail .title a:hover {
              color: #c45500; }
          .sum-bottom-info-wrapper .sum-bottom-info .right-part .shopping-ads .header .detail .tag {
            font-size: 13px;
            font-weight: 600;
            color: #666; }
      .sum-bottom-info-wrapper .sum-bottom-info .right-part .shopping-ads .main > * {
        flex-basis: 100%;
        flex-grow: 1;
        flex-shrink: 1; }
      .sum-bottom-info-wrapper .sum-bottom-info .right-part .shopping-ads .main .box {
        border: 1px solid #e0e0e0;
        border-right: none;
        padding: 10px; }
        .sum-bottom-info-wrapper .sum-bottom-info .right-part .shopping-ads .main .box:first-child {
          border-left: none;
          margin-left: -11px; }
        .sum-bottom-info-wrapper .sum-bottom-info .right-part .shopping-ads .main .box:last-child {
          border-right: none;
          margin-right: -11px; }
      .sum-bottom-info-wrapper .sum-bottom-info .right-part .shopping-ads .main .title {
        padding-bottom: 30px;
        font-size: 13px;
        font-weight: 600;
        color: #666; }
      .sum-bottom-info-wrapper .sum-bottom-info .right-part .shopping-ads .main .amount {
        font-size: 13px;
        font-weight: 600;
        color: #444; }
      .sum-bottom-info-wrapper .sum-bottom-info .right-part .feauted .header {
        font-size: 14px;
        font-weight: 700;
        color: #c45500;
        padding-bottom: 10px; }
      .sum-bottom-info-wrapper .sum-bottom-info .right-part .feauted .separator {
        border-top: 1px solid #e0e0e0;
        margin-left: -11px;
        margin-right: -11px;
        padding-bottom: 10px; }
      .sum-bottom-info-wrapper .sum-bottom-info .right-part .feauted .main img {
        border: 1px solid transparent;
        width: 236px;
        height: 196px;
        transition: all 200ms ease;
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease; }
        .sum-bottom-info-wrapper .sum-bottom-info .right-part .feauted .main img:hover {
          border: 1px solid #fbd084;
          box-shadow: 0px 1px 3px 3px rgba(0, 0, 0, 0.05); }
