extends ../../../layout/main/main


block pageRes
    link(href="/css/lib/lib.css" rel="stylesheet" type="text/css")
    link(href="/css/page/loggable/onelink-tag-map/onelink-tag-map-s.css" rel="stylesheet" type="text/css")

block content
    include section
    
block pageResBottom
    
        
