.com-bottom-info
    .com-chart-bottom.d-flex.justify-content-around
        .clicks.box
            .title Clicks
            .amount 4,732
        .ordered.box
            .title Ordered Items
            .amount 277
        .shipped.box
            .title Shipped Items
            .amount 306
        .returned.box
            .title Returned Items
            .amount 20
        .conversion.box
            .title Conversion
            .amount 6.48%
        .shipped-revenue.box
            .title Shipped Items Reveneu
            .amount $16,832.27
        .bonus.box
            .title Bonus #[span NEW]
            .amount $0.00
        .total-earnings.box
            .title Total Earnings
            .note #[i (Includes Bonus)]
            .amount $676.11

        
