doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/vendor/fontawesome-free-5.13.0-web/css/all.css')
    link(rel='stylesheet', href= jsRes.Bcss)
    style.
        body {
            background-color: #242426;
        }
        .buttn-wrapper {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
  body
    .buttn-wrapper
        <a class="btn btn-primary btn-lg" href="#{appUrl}/admin/update-data-command" role="button">Update Data</a>
    

        
